<!doctype html>
<html lang="it" class="no-js">
<head>
	{# Head #}
	{% include 'components/partials/partial-head.twig' %}
	{% block head %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
	<!-- base.twig -->
	<div class="base swiper chosen-js main-amatoripadel-js">
		{% include 'components/sections/header.twig' %}
		<div class="wrapper">
			<div class="container">

				{# Block content #}
				{% block content %}{% endblock %}

			</div>			
		</div>
		{% include 'components/sections/footer.twig' %}
	</div>
	<div class="bg-container">
		<img class="bg-frontpage" src="@@url/images/bg-frontpage.jpg" />
	</div>

	{# Custom modules loader #}
	{% include 'components/partials/customModulesLoader.twig' %}

	<script src="@@urlmain/libs/picturefill.min.js"></script>
	<script src="@@urlmain/libs/basket.min.js"></script>
	<script src="@@url/js/scriptloader.js"></script>
	<script>picturefill();</script>
</body>
</html>
