{% extends "base.twig" %}

{% block head %}
<title>{{ site.name}} - </title>
{{ parent() }}
<link rel="stylesheet" href="@@url/css/single-profilo@css_extension.css" />
{% endblock %}

{% block bodyclass %}
	single-profilo bg-image bg-frontpage
{% endblock %}

{% block content %}

<!--single-profilo.twig page -->
{% set queryItem = players[0] %}
<div class="single single-profilo">

  <div class="card card__inner flex flex--column flex--center card--player">

    <div class="flex flex--between flex--row">
      <div class="flex flex--column flex--between" style="width: 100%; padding: 10px; align-items: center">
        <div class="player__name section-title section-title--no-separator">
          <h1><span>{{queryItem.name }}</span><span>{{queryItem.lastname }}</span></h1>
        </div>
        <span class="rank">Rank&nbsp;<span>37</span></span>
      </div>
      <div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
        <picture data-link="{{ queryItemlink }}">
          <img class="lazyload" data-srcset="{{ queryItem.srcImgAvatar }}, {{  queryItems.rcImgAvatarx2 }} 2x" alt="{{ queryItem[0].playerOne.name }}"/>
        </picture>
        <noscript>
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="{{ queryItem.srcImgAvatar }}" media="(max-width: 736px)"/>
                <!--[if IE 9]></video><![endif]-->
                <img src="{{ queryItem.srcImgAvatar }}" alt="{{ queryItem.name }}"/>
            </picture>
        </noscript>
      </div>
    </div>
			<div class="cta-container cta-container--center" style="align-self: flex-start;">
				<a href="mailto:e.gennuso@gmail.com" class="cta cta--enter cta--yellow cta--rounded">invia un messaggio</a>
			</div>
  </div>


  <div class="card card__inner flex flex--column flex--center">
    <span class="section-title section-title--no-separator">Informazioni Profilo</span>
    <div style="width: 100%">
      <ul>
        <li class="list-infos">
          <label>Residenza</label><span>Roma</span>
        </li>
        <li class="list-infos">
          <label>Quartiere</label><span>Parioli</span>
        </li>
        <li class="list-infos">
          <label>Luogo di nascita</label><span>Roma</span>
        </li>
        <li class="list-infos">
          <label>Data di nascita</label><span>15 ottobre 1968</span>
        </li>
        <li class="list-infos">
          <label>Racchetta</label><span>Wilson</span>
        </li>
        <li class="list-infos">
          <label>Gioco</label><span>Mancino</span>
        </li>
        <li class="list-infos">
          <label>Circoli preferiti</label><span>San GViorgio, Oasi Padel, Eri Padel Club</span>
        </li>
      </ul>
    </div>
  </div>



  <div class="card card__inner flex flex--column flex--center">
    <span class="section-title section-title--no-separator">Valutazione</span>
    <div style="width: 100%">
      <ul>
        <li class="list-infos">
          <label>Dritto</label>
          <div class="progress-bar">
            <span style="--value: 20%"></span>
          </div>
        </li>
        <li class="list-infos">
          <label>Rovescio</label>
          <div class="progress-bar">
            <span style="--value: 80%"></span>
          </div>
        </li>
        <li class="list-infos">
          <label>Velocità</label>
          <div class="progress-bar">
            <span style="--value: 10%"></span>
          </div>
        </li>
        <li class="list-infos">
          <label>Potenza</label>
          <div class="progress-bar">
            <span style="--value: 33%"></span>
          </div>
        </li>
        <li class="list-infos">
          <label>Servizio</label>
          <div class="progress-bar">
            <span style="--value: 64%"></span>
          </div>
        </li>
        <li class="list-infos">
          <label>Attacco</label>
          <div class="progress-bar">
            <span style="--value: 70%"></span>
          </div>
        </li>
        <li class="list-infos">
          <label>Difesa</label>
          <div class="progress-bar">
            <span style="--value: 5%"></span>
          </div>
        </li>
        <li class="list-infos">
          <label>Esperienza</label>
          <div class="progress-bar">
            <span style="--value: 45%"></span>
          </div>
        </li>
        <li class="list-infos">
          <label>Livello complessivo</label>
          <div class="progress-bar">
            <span style="--value: 88%"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>




	  <div class="card card__inner flex flex--column flex--center">
	    <span class="section-title section-title--no-separator">Statistiche</span>
	    <div style="width: 100%">
	      <ul>
	        <li class="list-infos">
	          <label>Eventi giocati</label><span>2</span>
	        </li>
	        <li class="list-infos">
	          <label>Partite giocate</label><span>7</span>
	        </li>
	        <li class="list-infos">
	          <label>Partite vinte</label><span>3</span>
	        </li>
	        <li class="list-infos">
	          <label>Partite perse</label><span>2</span>
	        </li>
	      </ul>
	    </div>
	  </div>

		<nav class="header__main-menu">
			<ul class="header__main-menu__body flex flex--column">
						<li class="header__main-menu__item dropdown-matches-item block-item">
							<input id="dropdown-matches-check" hidden type="checkbox" />
							<label for="dropdown-matches-check" class="item-label item-label--opener">Visualizza partite</label>
							<ul class="submenu">
								{% for subitem in 1..4 %}
									<li class="header__main-menu__subitem {{subitem.name|lower}}-subitem">
										{% include 'components/partials/card-match.twig' %}
									</li>
								{% endfor %}
							</ul>
						</li>
			</ul>
		</nav>




		<div class="card card__inner flex flex--column card--teacher">
			<span class="section-title section-title--no-separator">Maestro</span>
	    <div class="flex flex--between flex--row flex--center">
	      <div class="flex flex--column flex--between flex--center" style="width: 100%; padding: 10px; align-items: center">
	        <div class="player__name section-title section-title--small section-title--no-separator">
	          <span><span>{{queryItem.name }}</span><span>{{queryItem.lastname }}</span></span>
	        </div>
	      </div>
	      <div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
	        <picture data-link="{{ queryItemlink }}">
	          <img class="lazyload" data-srcset="{{ queryItem.srcImgAvatar }}, {{  queryItems.rcImgAvatarx2 }} 2x" alt="{{ queryItem[0].playerOne.name }}"/>
	        </picture>
	        <noscript>
	            <picture>
	                <!--[if IE 9]><video style="display: none;"><![endif]-->
	                <source srcset="{{ queryItem.srcImgAvatar }}" media="(max-width: 736px)"/>
	                <!--[if IE 9]></video><![endif]-->
	                <img src="{{ queryItem.srcImgAvatar }}" alt="{{ queryItem.name }}"/>
	            </picture>
	        </noscript>
	      </div>

	    </div>
			<div class="cta-container cta-container--center" style="align-self: flex-start;">
				<a href="mailto:e.gennuso@gmail.com" class="cta cta--enter cta--yellow cta--rounded">invia un messaggio</a>
			</div>

			<div class="flex flex--between flex--row flex--center" style="margin-top: 24px">

	      <div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
	        <picture data-link="{{ queryItemlink }}">
	          <img class="lazyload" data-srcset="{{ queryItem.srcImgAvatar }}, {{  queryItems.rcImgAvatarx2 }} 2x" alt="{{ queryItem[0].playerOne.name }}"/>
	        </picture>
	        <noscript>
	            <picture>
	                <!--[if IE 9]><video style="display: none;"><![endif]-->
	                <source srcset="{{ queryItem.srcImgAvatar }}" media="(max-width: 736px)"/>
	                <!--[if IE 9]></video><![endif]-->
	                <img src="{{ queryItem.srcImgAvatar }}" alt="{{ queryItem.name }}"/>
	            </picture>
	        </noscript>
	      </div>
				<div class="flex flex--column flex--between" style="width: 100%; padding: 10px; align-items: center">
	        <div class="circolo__name flex flex--column flex--center">
	          <span style="color: #fff; font-weight: bold">Circolo</span>
						<h3 class="section-title section-title--small section-title--no-separator"><span>Eur Padel Roma</span></h3>
	        </div>
	      </div>
	    </div>
	  </div>








		<div class="card card__inner flex flex--column flex--center">
	    <span class="section-title section-title--no-separator">Media</span>
	    <div style="width: 100%">
	      <ul class="flex flex--between" style="flex-wrap: wrap">
					{% for queryItem in news %}
		        <li style="
							width: calc(50% - 12px);
							max-width: 280px;
							min-width: 264px;
							margin: 0 6px 6px;
							">
		          {% include 'components/partials/card-media.twig' %}
		        </li>
					{% endfor %}
	      </ul>
	    </div>
	  </div>

</div>
{% endblock %}
