<!-- card-match.twig partial -->

<div class="card card-match">


<link rel="stylesheet" href="@@url/css/components/partials/card-match@css_extension.css" />


	<div class="card__inner flex flex--column flex--center">
		<div class="flex">
			<div class="card-match__team">
				<div class="player">
					<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
						<picture data-link="">
							<img class="lazyload" data-srcset=",  2x" alt=""/>
						</picture>
						<noscript>
								<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source srcset="" media="(max-width: 736px)"/>
										<!--[if IE 9]></video><![endif]-->
										<img src="" alt=""/>
								</picture>
						</noscript>
					</div>
					<div class="player__name">
						<span></span>
					</div>
				</div>
				<div class="player">
				<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
					<picture data-link="">
						<img class="lazyload" data-srcset=",  2x" alt=""/>
					</picture>
					<noscript>
							<picture>
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="" media="(max-width: 736px)"/>
									<!--[if IE 9]></video><![endif]-->
									<img src="" alt=""/>
							</picture>
					</noscript>
				</div>
				<div class="player__name">
					<span></span>
				</div>
			</div>
			</div>
			<div class="vs"><span>VS</span></div>
			<div class="card-match__team">
				<div class="player">
					<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
						<picture data-link="">
							<img class="lazyload" data-srcset=",  2x" alt=""/>
						</picture>
						<noscript>
								<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source srcset="" media="(max-width: 736px)"/>
										<!--[if IE 9]></video><![endif]-->
										<img src="" alt=""/>
								</picture>
						</noscript>
					</div>
					<div class="player__name">
						<span></span>
					</div>
				</div>
				<div class="player">
					<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
						<picture data-link="">
							<img class="lazyload" data-srcset=",  2x" alt=""/>
						</picture>
						<noscript>
								<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source srcset="" media="(max-width: 736px)"/>
										<!--[if IE 9]></video><![endif]-->
										<img src="" alt=""/>
								</picture>
						</noscript>
					</div>
					<div class="player__name">
						<span></span>
					</div>
				</div>
			</div>
		</div>

<!-- blocco DA DISPUTARE -->

<div class="card-match__footer card-match__footer--inputDate">
			<span class="section-title section-title--no-separator section-title--small" >DA DISPUTARE</span>
			<div class="cta-container cta-container--center">
				<button onclick="javascript: opendModalDate" class="cta cta--enter cta--yellow cta--rounded">fissa l'incontro</button>
			</div>
		</div>

<!-- blocco DISPUTATO, CON PUNTEGGIO DA INSERIRE -->

		<!-- <div class="card-match__footer card-match__footer--inputResult">
			<time datetime="2019 04 18">18 aprile 2019 - ore 19:00</time>
			<div class="cta-container cta-container--center">
				<button onclick="javascript: opendModalResult" class="cta cta--enter cta--yellow cta--rounded">inserisci risultato</button>
			</div>
		</div> -->

<!-- blocco COMPLETATO -->

		<!-- <div class="card-match__footer card-match__footer--final">
			<div class="card-match__result">
				<span>6 - 2</span><span>6 - 0</span><span>4 - 6</span>
			</div>
			<time datetime="2019 04 18">18 aprile 2019 - ore 19:00</time>
		</div> -->

	</div>

</div>
