<!-- card-news--big.twig partial -->

<article class="card card-news--big">

	
	<link rel="stylesheet" href="@@url/css/components/partials/card-news--big@css_extension.css" />

	
	<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
		<picture data-link="">
			<img class="lazyload" data-srcset=",  2x" alt=""/>
		</picture>
		<noscript>
				<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="" media="(max-width: 736px)"/>
						<!--[if IE 9]></video><![endif]-->
						<img src="" alt=""/>
				</picture>
		</noscript>
	</div>
	<div class="card__content">
		<div class="card__title">
			<h3></h3>
		</div>
		<time datetime="">07-August-2019</time>
		<p class="abstract"></p>
	</div>

	<div class="card__footer">
		<ul>
			<li><a href="#" class="social-comment social-comment--fb-icon"><span>6 commenti</span></a></li>
			<li><a href="#" class="social-comment social-comment--tw-icon"><span>3 commenti</span></a></li>
		</ul>
	</div>

</article>
