<!-- google-map.twig partial -->

<div class="google-map">

  <style>

    .google-map {
      position: relative;
      width: 100%;
      height: 0;
			padding-bottom: 100%;
      overflow: hidden;
    }

    #map {
      height: 100%;
      width: 100%;
     }
  </style>

  <div id="map"></div>

</div>
