<!-- cards-slider.twig section -->

<div class="cards-slider cards-slider-js">


<link rel="stylesheet" href="css/components/sections/cards-slider.css" />


	<div class="cards-slider__container">
		<div class="swiper-wrapper">
					</div>
		<div class="swiper-pagination"></div>
	</div>
<!-- </div> -->
</div>
