<!--header.twig section -->

<header class="header">
	<div class="header__top flex flex-row">
    <div class="hamburger" role="button"></div>
    <div class="logo">
			<a href="./homepage">
	      <picture class="logo__picture">
	    			<!--[if IE 9]><video style="display: none;"><![endif]-->
	    			<source srcset="images/logo-amatoripadel@2x.png 2x"/>
	    			<!--[if IE 9]></video><![endif]-->
	    			<img data-srcset="images/logo-amatoripadel.png" alt="logo Amatori Padel"/>
	    	</picture>
			</a>
    </div>
		<a href="./login" class="login" role="button"></a>
    <nav class="header__main-menu">
      <div class="header__main-menu__head">
					<div class="profile-image">
						<div class="profile-image__container">
							<img src="images/avatar.jpg">
						</div>
						<a href="#"><span class="profile-image__notify-badge">3</span></a>
					</div>
					<span class="profile-name section-title">Gianni Mascolo</span>
        <div class="main-menu__close button--close" role="button"></div>
      </div>
      <ul class="header__main-menu__body flex flex--column">
        																<li class="header__main-menu__item home-item single-item"><a class="item-label" href="#">Home</a></li>
					
        																<li class="header__main-menu__item chi siamo-item single-item"><a class="item-label" href="#">Chi siamo</a></li>
					
        																<li class="header__main-menu__item news-item single-item"><a class="item-label" href="#">News</a></li>
					
        										<li class="divider-item">
						<span class="section-title">Circuito Giro Padel</span>
					</li>
																<li class="header__main-menu__item roma-item block-item">
							<input id="roma-check" hidden type="checkbox" />
							<label for="roma-check" class="item-label item-label--opener">Roma</label>
							<ul class="submenu">
																	<li class="header__main-menu__subitem 1a tappa giro padel 2019-subitem">
										<a href="./page-torneo" class="yellow-text-link yellow-text-link--enter">1a Tappa Giro Padel 2019</a>
									</li>
																	<li class="header__main-menu__subitem master giro padel 2019-subitem">
										<a href="./page-torneo" class="yellow-text-link yellow-text-link--enter">Master Giro Padel 2019</a>
									</li>
															</ul>
						</li>
					
        																<li class="header__main-menu__item barletta-item block-item">
							<input id="barletta-check" hidden type="checkbox" />
							<label for="barletta-check" class="item-label item-label--opener">Barletta</label>
							<ul class="submenu">
																	<li class="header__main-menu__subitem 1a tappa giro padel 2019-subitem">
										<a href="./page-torneo" class="yellow-text-link yellow-text-link--enter">1a Tappa Giro Padel 2019</a>
									</li>
																	<li class="header__main-menu__subitem master giro padel 2019-subitem">
										<a href="./page-torneo" class="yellow-text-link yellow-text-link--enter">Master Giro Padel 2019</a>
									</li>
															</ul>
						</li>
					
        																<li class="header__main-menu__item milano-item block-item">
							<input id="milano-check" hidden type="checkbox" />
							<label for="milano-check" class="item-label item-label--opener">Milano</label>
							<ul class="submenu">
																	<li class="header__main-menu__subitem 1a tappa giro padel 2019-subitem">
										<a href="./page-torneo" class="yellow-text-link yellow-text-link--enter">1a Tappa Giro Padel 2019</a>
									</li>
																	<li class="header__main-menu__subitem master giro padel 2019-subitem">
										<a href="./page-torneo" class="yellow-text-link yellow-text-link--enter">Master Giro Padel 2019</a>
									</li>
															</ul>
						</li>
					
        																<li class="header__main-menu__item archivio-item single-item"><a class="item-label" href="#">Archivio</a></li>
					
        																<li class="header__main-menu__item giocatori-item single-item"><a class="item-label" href="#">Giocatori</a></li>
					
        																<li class="header__main-menu__item circoli-item single-item"><a class="item-label" href="#">Circoli</a></li>
					
        																<li class="header__main-menu__item ranking-item single-item"><a class="item-label" href="#">Ranking</a></li>
					
        																<li class="header__main-menu__item partners-item single-item"><a class="item-label" href="#">Partners</a></li>
					
        																<li class="header__main-menu__item fotogallery-item single-item"><a class="item-label" href="#">Fotogallery</a></li>
					
              </ul>
    </nav>
      
  </div>
</header>
