<!-- registration-form.twig section -->

<div class="registration-form">


<link rel="stylesheet" href="css/components/sections/registration-form.css" />



	<div class="container">
		<form name="registrationform" id="registrationform" method="" action="">
			
			<div class="input-field input-field--file forms-js">
				<input type="file" id="image" name="image" onchange="readURL(this);" hidden />
				<label for="image"><span>+</span></label>
				<div class="input__image-container">
					<img id="input__image-container__preview" src="images/avatar-placeholder-white.svg" alt="il tuo avatar" />
				</div>
			</div>
			      <div class="input-field">
        <label for="name"></label>
        <input id="name" type="text" name="name" value="" autocomplete="off" placeholder="nome..." data-validation="" required="required" />
    </div>

			      <div class="input-field">
        <label for="lastname"></label>
        <input id="lastname" type="text" name="lastname" value="" autocomplete="off" placeholder="cognome..." data-validation="" required="required" />
    </div>

			      <div class="input-field">
        <label for="city"></label>
        <input id="city" type="text" name="city" value="" autocomplete="off" placeholder="città..." data-validation="" required="required" />
    </div>

			      <div class="input-field">
        <label for="mobile"></label>
        <input id="mobile" type="tel" name="mobile" value="" autocomplete="off" placeholder="cellulare..." data-validation="" required="required" />
    </div>

			<div class="cta-container cta-container--center">
				<button type="submit" class="loginform cta cta--enter cta--yellow">iscriviti</button>
			</div>
		</form>
	</div>

</div>
