
// banners for testing

.leoskinmobileoverlayered {  // for testing
  background-color: #f00;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: $leoSkinMobileOverlayered;
  z-index: 6;
}

.leoskinmobile { // for testing
  background-color: #f00;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: $leoSkinMobile;
  z-index: 6;
}

.leoviewmaxmobile { // for testing
  background-color: #f00;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: $leoViewmaxMobile;
  z-index: 6;
}

/////////   BODY


body {

  // leo-skin

  &.leo-skin {
    margin-top: #{$leoSkin}px; // for testing

    .body-wrapper {
      padding-top: #{$headerHeight}px;  // aggiungo altezza header per evitare lo scatto dal passaggio da header relative a fixed
      max-width: #{$siteWidth}px;
    }
  }

// leo-skin-mobile

  &.leo-skin-mobile {
    margin-top: 0  !important;

    .body-wrapper {
      padding-top: #{$headerHeight}px
    }
  }


// leo-skin-mobile-overlayered

  &.leo-skin-mobile-overlayered {
    margin-top: $leoSkinMobileOverlayered !important; // for testing

    .body-wrapper {
      padding-top: #{$headerHeight}px
    }
  }

// leo-viewmax

  &.leo-viewmax {
    margin-top: #{$leoViewmax}px !important;  // for testing

    .body-wrapper {
      padding-top: #{$headerHeight}px;
      max-width: #{$siteWidth}px;
    }
  }

// leo-viewmax-mobile

  &.leo-viewmax-mobile {
    margin-top: $leoViewmaxMobile !important;  // for testing

    .body-wrapper {
      padding-top: #{$headerHeight}px
    }
  }

  &.base-modal--page {

    &.leo-skin {

  		.body-wrapper {

  			aside {
  				margin-left: 0;
  			}
  		}

  		footer {
  			border: none;
  			background-color: transparent;
  		}
  	}
  }
}

// end body

//
//
/////// HEADER
//
//
.header--sticky {

  body.leo-skin &, body.leo-viewmax & {
    width: #{$siteWidth}px;
    left: 50%;
    transform: translate(-50%,0);
  }

  body.leo-skin-mobile-overlayered & {
    top: $leoSkinMobileOverlayered;
  }

  body.leo-viewmax-mobile & {
    top: $leoViewmaxMobile;
  }

  body.nav-up & {
    transform: translate(-50%, -100%);
  }

  body.nav-down & {
    transform: translate(-50%, 0);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  }
}


////////////  MENU MOBILE

#mobile-menu {

  body.leo-skin-mobile-overlayered & {
    top: calc(#{$leoSkinMobileOverlayered} + #{$headerHeight}px);
    height: calc(100% - #{$leoSkinMobileOverlayered} - #{$headerHeight}px);
  }

  body.leo-skin-mobile & {
    top: #{$headerHeight}px;
    height: calc(100% - #{$headerHeight}px);
  }

  body.leo-viewmax-mobile & {
    top: calc(#{$leoViewmaxMobile} + #{$headerHeight}px);
    height: calc(100% - #{$leoViewmaxMobile} - #{$headerHeight}px);
  }

  body.leo-skin-mobile.sticky-header-on-top & {
    top: calc(#{$leoSkinMobileOverlayered} + #{$headerHeight}px);
    height: calc(100% - #{$leoSkinMobileOverlayered} - #{$headerHeight}px);
  }
}



////////////   TRENDS




////////////  ALL STICKY ELEMENTS

.sticky-element {

	&.is_stuck {

		.leo-viewmax .sidebar & {
			top: #{$leoViewmax + 10}px !important;
			transition: top ease-out 0.4s;
		}

		.leo-viewmax.nav-down .sidebar & {
			top: #{$leoViewmax + $headerHeight + 10}px !important;
		}

		.leo-skin-mobile-overlayered .sidebar & {
			top: calc(#{$leoSkinMobileOverlayered} + 10) !important;
			transition: top ease-out 0.4s;
		}

		.leo-skin-mobile-overlayered.nav-down .sidebar & {
			top: #{$leoSkinMobileOverlayered + $headerHeight + 10}px !important;
		}

		.leo-viewmax-mobile .sidebar & {
			top: calc(#{$leoViewmaxMobile} + 10) !important;
			transition: top ease-out 0.4s;
		}

		.leo-viewmax-mobile.nav-down .sidebar & {
			top: #{$leoViewmaxMobile + $headerHeight + 10}px !important;
		}
	}
}


/////////////  PROGRESS BAR


//////////   SEARCH INPUT


////////////  FOOTER

.footer {

  body.leo-skin &, body.leo-viewmax & {
		max-width: #{$siteWidth}px;
		margin: 0 auto;
  }
}
