// Override core variables
$urlFonts: '../fonts';
$urlImages: "../images";
$urlImagesFromPartial: '../../../images';

// Colors
$facebook:      	#3B5998;
$twitter:       	#00ACED;
$linkedin:     		#007BB6;
$instagram:      	#3897F0;
$success: 			#00AF30;
$warning: 			#FFC800;
$danger: 			#D80000;

$primaryColor: 		#6E96CB;
$yellow: #FFE200;
$secondaryColor: $yellow;
$red: #D01B22;
$acidGreen: #90D522;
$titleColor:		#000;
$paragraphColor:	#000;
$linkColor:			#3897F0;
$lightGrey: #C8DCE3;
$grey: #757575;
$darkGrey: #445C69;
$azure: #4289AF;
$green: #46E19F;
$darkAzure: #496283;
$shadow: #C8DCE3;



// Fonts
// $Roboto: 'Roboto', Arial, sans-serif;
// $primaryFont: $Roboto;

$Avenir: 'Avenir', serif;
$secondaryFont: $Avenir;

$Courgette: 'Courgette', serif;
$primaryFont: $Courgette;

// Paragraph baseline
$fontSize: 18;
$lineHeight: 26;

// input

$inputColor: #eee;
$dark: $darkGrey;
$grey: $lightGrey;

// Grid system
$columns: 12;
$containerPadding: 16;
$containerGutter: 16;
$containerDivider: 24;
$elementPadding: 8;
$elementGutter: 40;
$elementDivider: 20;

// Viewport
$breakpoint: 736;
$siteWidth: 1012;
$maxWidth: 980;
$sidebarWidth: 300;
$wrapper: $siteWidth;
$mainContentWidth: $maxWidth - $sidebarWidth;


// Skins

$leoSkin: 120;
$leoSkinMobile: calc(100vw / 3.2);
$leoSkinMobileOverlayered: calc(100vw / 3.2);
$leoViewmax: 224;
$leoViewmaxMobile: calc(100vw / 1.7);

$headerHeight: 90;
