@import "no-js";

html, body {
	min-height: 100% !important;
  height: 100%;
}

body {
	font-family: $primaryFont;
	font-size: 16px;
	font-weight: normal;
	// background-size: cover;
	// background-repeat: no-repeat;
	// background-position: center center;
	//background-attachment: fixed;

	&.front-page {

	}

	&.bg-frontpage {

	}

	.bg-container {
		position: fixed;
		z-index: -1;
		min-height: 100%;
		width: 100%;
		display: flex;
		flex: 1;
		top: 0;
		bottom: 0;

		@media screen and (min-width: #{$breakpoint + 1}px) {
			max-height: none !important;
			width: auto;
			min-width: 100%;
		}

		img.bg-frontpage {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 100%;
			min-height: 100%;
			width: auto;
			max-width: none;

			@media screen and (min-width: #{$breakpoint + 1}px) {
				height: auto;
				min-height: 0;
				min-width: 100%;
			}
		}
	}

	&.bg-image {

		.wrapper {
			overflow-y: scroll;
			height: calc(100% - 80px);
			position: fixed;
			bottom: 0;
			-webkit-overflow-scrolling: touch;

			> .container {
					min-height: calc(100% - 90px);
			}
		}
	}

	.wrapper {
		width: 100%;
	}
}

.wrapper {
	background-color: transparent;
	margin-top: 80px;
	//padding: 24px 0 0;
}

.flex--row {
	flex-direction: row;
}

h1, h2, h3, h4, h5, h6 {
	//font-family: $secondaryFont;
		//font-family: "Short Baby", Arial, sans-serif;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

p {
	color: #000;
	//font-family: $primaryFont;
	//font-family: "Short Baby", Arial, sans-serif;
	font-weight: normal;
	font-size: #{$fontSize}px;
	line-height: #{$lineHeight}px;
}

a {
	color: #000;

	&:hover {
		color: darken($secondaryColor, 15%);
	}
}

section {
	margin-bottom: #{$containerDivider}px;
}


picture {

	img {
		//max-width: none;
	}
}

///////////// sections

.section-title {

	//font-family: $secondaryFont;
	//font-family: "Short Baby", Arial, sans-serif;
	font-size: 26px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #FFE200;
	//padding: 24px 0;
	margin: 12px auto;

	> * {
		color: #FFE200;
		margin: 0 12px;
	}

	&:before, &:after {
		content: '';
		background: rgba(255,255,255,0.5);
		height: 2px;
		flex: 1;
	}

	> * {
		margin: 0 12px;
	}

	&--inverted {

		color: #000;
		> * {
			color: #000;
		}
	}

	&--no-separator {

		&:before, &:after {
			content: none;
		}
	}

	&--small {
		font-size: 16px;
		line-height: 24px;
		padding: 8px 0;
	}

	&--big {
		font-size: 32px;
		line-height: 38px;
		padding: 12px auto;

		> * {
			color: $secondaryColor;
		}
	}
}

///////////// CARDS

article.card, div.card{
	background-color: rgba(0,0,0,0.7);
	position: relative;
	border-radius: 8px;
	border: 2px solid #fff;
	margin: 15px auto;

	.card__thumbnail {

		picture {
			// background-color: #ddd;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;

			.swiper-slide--full-image & {
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			}
		}
	}

	.card__content {

		&--overlay {
			border-radius: 8px;
			overflow: hidden;
		}

		.card__title {

			h3 {
				color: #FFE200;
				text-align: center;
				margin-bottom: 12px;
			}
		}

		p {
			color: #fff;
			text-align: center;
		}
	}

	.card__footer {
		display: flex;
		padding: 0;
		flex: 1;
    justify-content: center;

		ul {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;
		}
	}
}

.card-wrapper {
	max-width: 280px;
	width: 80%;
	margin: #{$containerDivider}px auto;

	> * {
		width: 100%;
		margin-bottom: #{$containerDivider}px;
	}
}

.card-scroller {
	width: calc(100% + #{$containerPadding}px);

	&--vertical {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 400px;

		&__header {
			display: flex;
			color: #fff;
			font-weight: bold;
			position: absolute;
			top: 0;
			left: 0;
			height: 40px;
			width: 100%;
			z-index: 1;

			.spacer {
				min-width: 180px;

				& + div {
					flex: 1;
    			padding: 8px;
					display: flex;
					justify-content: space-between;
				}
			}
		}

		&__body {
			overflow-y: scroll;
			position: absolute;
			bottom: 0;
			height: calc(100% - 40px);
			width: 100%;
		}
	}
}

//////////////////// end cards

time {
	color: $yellow;
	font-weight: bold;
	margin: 6px 0 12px;
	text-align: center;
	display: inline-block;
	width: 100%
}


///////////// icons

.social-comment {
	@extend %icons;
	display: block;
	padding-left: 33px;
  padding-bottom: 8px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	margin: 0 6px;


	&--fb-icon {
		background-position: 0 -94px;
	}

	&--tw-icon {
		background-position: 0 -131px;
	}
}

.countdown {
	display: flex;
	justify-content: space-evenly;
	 margin-bottom: 14px;
	 text-shadow: -1px 0 black, 0 1px black, 0 1px black, 1px 0 black, 0 -1px black;

	& > div {
		display: flex;
		flex-direction: column;
		align-items: center;

		label {
			color: #fff;
			font-size: 13px;
			margin-bottom: 5px;
		}

		span {
			background: #6E96CB;
			background: -moz-linear-gradient(top, #425a79 0%, #6E96CB 50%, #6387b6 53%, #a8c0df 100%);
			background: -webkit-linear-gradient(top, #425a79 0%, #6E96CB 50%, #6387b6 53%, #a8c0df 100%);
			background: linear-gradient(to bottom, #425a79 0%, #6E96CB 50%, #6387b6 53%, #a8c0df 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac6d', endColorstr='#ff7400',GradientType=0 );
			border-radius: 4px;
			font-size: 20px;
			font-weight: bold;
			color: #fff;
			margin-right: 2px;
			padding: 13px;
			position: relative;



			&:after {
				content: '';
				width: 100%;
				position: absolute;
				top: 50%;
				height: 2px;
				background-color: #000;
				z-index: 1;
				left: 0;
			}
		}
	}
}

.cta-container {
	margin: 12px 0 0px;

	&--center {
		text-align: center;
		width: 100%;

		.cta {
			font-family: $primaryFont;
			display: inline-block;
			margin: 0 auto;
		}
	}
}

/////////////////  buttons


button {
	-webkit-appearance: none;
	background: transparent;
	border: none;
}


.cta {
	background-color: $primaryColor;
	border-radius: 6px;
	color: #fff;
	display: inline-block;
	//font-family: $secondaryFont;
	//font-family: "Short Baby", Arial, sans-serif;
	font-size: 20px;
	padding: 8px 8px 8px 15px;
	text-shadow: -1px 0 black, 0 1px black, 0 1px black, 1px 0 black, 0 -1px black;

	&--cyan {
		background-color: $primaryColor;
		color: #FFF;
	}

	&--enter {
		background-image: url('#{$urlImages}/caret-enter.svg');
		background-size: 7px;
		background-repeat: no-repeat;
		background-position: right 10px top 49% !important;
		padding-right: 40px !important;
	}

	&--rounded {
		padding: 0 12px;
		background-position: right 0 top -1400px;
		border-radius: 14px;
		font-size: 16px;
		line-height: 27px;
	}

	&--back {
		@extend %icons;
		background-position: left 10px top -1684px;
		padding-left: 40px !important;
	}

	&--gallery {
		@extend %icons;
		background-position: right 8px top -2146px;
		padding-right: 40px !important;
	}
}

.yellow-text-link {
	//@extend %icons;
	color: $yellow;
	display: inline-block;
	//font-family: $secondaryFont;
	//font-family: "Short Baby", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 18px;
	margin-top: 5px;
  margin-bottom: 5px;
	padding: 0 40px 0 20px;

	&--enter {
		background-image: url('#{$urlImages}/submenu-caret.svg');
		background-repeat: no-repeat;
		background-position: right 20px top 48%;
	}
}


////////////////////////

.total-users {
	//font-family: $secondaryFont;
	//font-family: "Short Baby", Arial, sans-serif;
	color: #fff;
	display: block;
	text-align: center;
	font-size: 50px;
}

.header-rounded-image {
	border: 4px solid #fff;
	box-shadow: 0 0 20px #fff;
	width: 130px;
	height: 130px;
	margin: #{$containerDivider}px auto;
	border-radius: 50%;
	overflow: hidden;
}

.separator {
	height: 2px;
	background-color: rgba(255, 255, 255, 0.5);
	margin: -21px 0px 11px 0px;
	width: 100%;
}


.tabs-scroller {
	//border-bottom: 2px solid #fff;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	margin: 0px auto 0px -8px;
	min-width: calc(100% + 16px);
	background: rgba(0,0,0,0.5);

	.tabs__nav {
		width: auto !important;
		display: flex;
		flex: 1;
		justify-content: space-evenly;

		a {
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			color: #fff;
	    //font-family: $secondaryFont;
		  //font-family: "Short Baby", Arial, sans-serif;
	    font-size: 20px;
	    font-weight: bold;
			display: inline-block;
			padding: 7px;
	    margin: 0 -3px;
			min-width: 130px;
			text-align: center;
			text-shadow: 0 0 5px #000;
			white-space: nowrap;

			&.selected {
				//background: #fff;
				color: $secondaryColor;
				border-bottom: 2px solid;
				//text-shadow: none;
			}
		}
	}
}


.featured-image {
	height: 0;
	padding-bottom: 50%;
	overflow: hidden;
	margin: #{$containerDivider}px 0;
}


////////////////  pagination

.pagination {
	display: flex;
	justify-content: center;

	li {
		padding: 8px 3px;
		margin: 0 6px;

		a {
			color: #fff;
			font-size: 18px;
			text-shadow: 0 0 3px #000;
		}

		span {
			color: #000;
			font-size: 18px;
		}

		&.disabled {

			span {
				color: rgba(255,255,255,0.4);
				text-shadow: none;
			}
		}

		&.active {
			background-color: $secondaryColor;
			border-radius: 8px;

			a {
				color: #000;
				text-shadow: none;
			}
		}
	}
}

///////////////// list-infos

.list-infos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	width: 100%;

	label {
			color: #fff;
			min-width: 150px;
	}

	span {
		color: $secondaryColor;
	}
}

.progress-bar {
	flex: 1;
	height: 10px;
	overflow: hidden;

	span {
		height: 10px;
		background-color: $secondaryColor;
		display: block;
		width: var(--value);
	}
}

///////////////  editorial

.editorial {

	p {
		color: #fff;
	}

	a {
		color: $secondaryColor;
    text-decoration: underline;
	}
}
