@font-face {
	font-family: 'Roboto';
	src: local("Roboto-Bold"), local("Roboto Bold"), url('#{$urlFonts}/Roboto-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local("Roboto-Light"), local("Roboto Light"), url('#{$urlFonts}/Roboto-Light.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local("Roboto-Medium"), local("Roboto Medium"), url('#{$urlFonts}/Roboto-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Courgette';
	src: local("Courgette-Regular"), local("Courgette Regular"), url('#{$urlFonts}/Courgette-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

// @font-face {
// 	font-family: 'Rubik';
// 	src: local("Rubik-Bold"), local("Rubik Bold"), url('#{$urlFonts}/Rubik-Bold.woff') format('woff');
// 	font-display: swap;
// 	font-weight: 700;
// 	font-style: normal;
// }

@font-face {
	font-family: 'Avenir';
	src: local("AvenirNextCondensed-Bold"), local("Avenir Next Condensed Bold"), url('#{$urlFonts}/AvenirNextCondensed-Bold.ttf') format('truetype');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}
