// mixins

@import "../../node_modules/rogiostrap/src/sass/core/mixins";

%cf {
	*zoom: 1;

	&:before, &:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

%input {
	font-size: 15px;
	font-style: italic;
	line-height: 22px;
	padding: 12px;
	color: $darkGrey;
	border: 1px solid $darkGrey;
	background-color: transparent;
	transition: all ease-out 0.3s;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $darkGrey;
}

::-moz-placeholder { /* Firefox 19+ */
	color: $darkGrey;
	opacity: 1;
}

:-ms-input-placeholder { /* IE 10+ */
	color: $darkGrey;
}

:-moz-placeholder { /* Firefox 18- */
	color: $darkGrey;
}

%icons {
	background-image: url('#{$urlImages}/icons.svg');
	background-repeat: no-repeat;
	background-size: 24px 2700px;
}

%iconsFromPartial {
	background-image: url('#{$urlImagesFromPartial}/icons.svg');
	background-repeat: no-repeat;
	background-size: 24px 2700px;
}

%iconsOptionsFromPartial {
	background-image: url('#{$urlImagesFromPartial}/iconsOptions.svg');
	background-repeat: no-repeat;
	background-size: 24px 2700px;
}

%box-shadow {
  background-color: #fff;
  box-shadow: 0 6px 20px transparentize($shadow, 0.7);
}

%category-label {
	border-radius: 4px;
  color: $darkGrey;
  font-family: $primaryFont;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  line-height: 13px;
}

%orangeButton {
	background-color: $primaryColor;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: $primaryFont;
	font-size: 15px;
	font-weight: 700;
	padding: 8px 15px;
	position: relative;
	transition: background-color ease-out .2s;

	&:hover {
		color: #fff;
    background-color: darken($primaryColor, 15%);
  }

	&--inverted {
		background-color: transparent;
		border: 1px solid $primaryColor;
		color: $primaryColor;
	}
}

%orange-link {
	color: $primaryColor;
	cursor: pointer;
	display: inline-block;
	font-weight: 700 !important;
	font-size: 16px;
	line-height: 24px;
	position: relative;
}

%scrollbar {
	&::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
      //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: rgba(0,0,0,0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    //outline: 1px solid slategrey;
  }
}
