/* single-profilo.twig styles */
@import "customVariables";

.single-profilo, .single-circolo {
  //margin-top: 70px;

  .card__inner {
    padding: 12px;
  }

	.card--player, .card--teacher {

	  .card__thumbnail--big {
			border-radius: 50%;
			border: 2px solid #fff;
			overflow: hidden;
			//top: -60px;
			min-width: 100px;
			height: 100px;
			//position: absolute;
	  }
	}


  h1 {
    font-size: 26px !important;
		margin: 0 6px;
  }

	.section-title {

		span {
      display: block;
    }
	}

  .rank {
    color: #fff;
    font-size: 18px;

    span {
      font-size: 26px;
      font-weight: bold;
      color: #000000;
      background-color: $secondaryColor;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: inline-block;
      line-height: 50px;
      text-align: center;
    }
  }
}
