/* card-news--big.twig styles */
/* line 7, ../../../sass/components/partials/card-info--big.scss */
.card-info--big picture { padding-bottom: 60%; }
/* line 11, ../../../sass/components/partials/card-info--big.scss */
.card-info--big .card__content--overlay { background-color: rgba(0, 0, 0, 0.6); display: flex; align-items: center; position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
/* line 21, ../../../sass/components/partials/card-info--big.scss */
.card-info--big .card__content--overlay p { color: #fff; font-weight: bold; font-size: 24px; line-height: 28px; padding: 20px; }
