/* card-circolo.twig styles */
/* line 5, ../../../sass/components/partials/card-circolo.scss */
.card-circolo { padding: 16px; max-width: 300px; }
/* line 11, ../../../sass/components/partials/card-circolo.scss */
.card-circolo .card__title h3 { text-align: center; }
/* line 16, ../../../sass/components/partials/card-circolo.scss */
.card-circolo p { text-align: center; }
