@charset "UTF-8";
/* forms.twig styles */
/* line 5, /Users/giordano.zannoni/Triboo/GIT/rogiostrap.amatoripadel/src/sass/_mixins.scss */
.newsletter__check .rad, .newsletter__check .rad > fieldset { *zoom: 1; }
/* line 8, /Users/giordano.zannoni/Triboo/GIT/rogiostrap.amatoripadel/src/sass/_mixins.scss */
.newsletter__check .rad:before, .newsletter__check .rad > fieldset:before, .newsletter__check .rad:after, .newsletter__check .rad > fieldset:after { content: ""; display: table; }
/* line 13, /Users/giordano.zannoni/Triboo/GIT/rogiostrap.amatoripadel/src/sass/_mixins.scss */
.newsletter__check .rad:after, .newsletter__check .rad > fieldset:after { clear: both; }

/* line 29, /Users/giordano.zannoni/Triboo/GIT/rogiostrap.amatoripadel/src/sass/_mixins.scss */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #445C69; }

/* line 33, /Users/giordano.zannoni/Triboo/GIT/rogiostrap.amatoripadel/src/sass/_mixins.scss */
::-moz-placeholder { /* Firefox 19+ */ color: #445C69; opacity: 1; }

/* line 38, /Users/giordano.zannoni/Triboo/GIT/rogiostrap.amatoripadel/src/sass/_mixins.scss */
:-ms-input-placeholder { /* IE 10+ */ color: #445C69; }

/* line 42, /Users/giordano.zannoni/Triboo/GIT/rogiostrap.amatoripadel/src/sass/_mixins.scss */
:-moz-placeholder { /* Firefox 18- */ color: #445C69; }

/* line 5, ../../../sass/components/partials/forms.scss */
textarea, select, .chosen-container, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] { display: block; width: 100%; height: inherit; min-height: 34px; color: #000; font-family: "Roboto", Arial, sans-serif; font-style: italic; font-size: 15px; line-height: 28px; text-align: left; vertical-align: middle; appearance: none; background-image: none; background-clip: padding-box; border-bottom: 1px solid #6E96CB; padding: 8px 10px; margin: 0; outline: 0; transition: border ease-out 0.3s; }
/* line 33, ../../../sass/components/partials/forms.scss */
textarea::placeholder, select::placeholder, .chosen-container::placeholder, input[type="date"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="email"]::placeholder, input[type="month"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="text"]::placeholder, input[type="time"]::placeholder, input[type="url"]::placeholder, input[type="week"]::placeholder { color: #757575; }
/* line 37, ../../../sass/components/partials/forms.scss */
textarea:focus, select:focus, .chosen-container:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus { border: none; }
/* line 43, ../../../sass/components/partials/forms.scss */
.newsletter__field textarea:focus, .newsletter__field select:focus, .newsletter__field .chosen-container:focus, .newsletter__field input[type="date"]:focus, .newsletter__field input[type="datetime"]:focus, .newsletter__field input[type="datetime-local"]:focus, .newsletter__field input[type="email"]:focus, .newsletter__field input[type="month"]:focus, .newsletter__field input[type="number"]:focus, .newsletter__field input[type="password"]:focus, .newsletter__field input[type="search"]:focus, .newsletter__field input[type="tel"]:focus, .newsletter__field input[type="text"]:focus, .newsletter__field input[type="time"]:focus, .newsletter__field input[type="url"]:focus, .newsletter__field input[type="week"]:focus { border: none; }
/* line 48, ../../../sass/components/partials/forms.scss */
textarea[hidden], select[hidden], .chosen-container[hidden], input[type="date"][hidden], input[type="datetime"][hidden], input[type="datetime-local"][hidden], input[type="email"][hidden], input[type="month"][hidden], input[type="number"][hidden], input[type="password"][hidden], input[type="search"][hidden], input[type="tel"][hidden], input[type="text"][hidden], input[type="time"][hidden], input[type="url"][hidden], input[type="week"][hidden] { display: none; }

/* line 53, ../../../sass/components/partials/forms.scss */
input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] { font-family: "Roboto", Arial, sans-serif !important; }
/* line 61, ../../../sass/components/partials/forms.scss */
input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus { border-bottom: 1px solid #FFE200; }

/* line 66, ../../../sass/components/partials/forms.scss */
.dropdown { background-color: transparent !important; border: none; min-height: 32px; font-family: "Roboto", Arial, sans-serif; font-style: normal; font-weight: 700; font-size: 20px; background-image: url("../../../images/icons.svg") !important; background-position: right 0 top -1096px !important; background-repeat: no-repeat; max-width: 280px; padding-right: 40px !important; width: auto; }
/* line 81, ../../../sass/components/partials/forms.scss */
.dropdown--light { color: #fff; background-position: right 0 top -1139px !important; }

/* line 87, ../../../sass/components/partials/forms.scss */
.input-field--file { flex-direction: row !important; justify-content: center; }

/* line 94, ../../../sass/components/partials/forms.scss */
input[type=file] + label, input[type=file] ~ .input__image-container { border: 4px solid #fff; width: 90px; height: 90px; border-radius: 50%; position: relative; }
/* line 101, ../../../sass/components/partials/forms.scss */
input[type=file] + label img, input[type=file] ~ .input__image-container img { min-height: 100%; min-width: 100%; }
/* line 107, ../../../sass/components/partials/forms.scss */
input[type=file] + label { position: absolute; display: flex; align-items: center; justify-content: center; }
/* line 113, ../../../sass/components/partials/forms.scss */
input[type=file] + label span { border: 2px solid #fff; color: #fff; font-size: 20px; line-height: 26px; position: absolute; right: 0; top: 0; background: #6E96CB; width: 30px; height: 30px; text-align: center; border-radius: 50%; z-index: 1; }
/* line 130, ../../../sass/components/partials/forms.scss */
input[type=file] ~ .input__image-container { overflow: hidden; }
/* line 133, ../../../sass/components/partials/forms.scss */
input[type=file] ~ .input__image-container img { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }

/* line 142, ../../../sass/components/partials/forms.scss */
.newsletter__block { margin-bottom: 12px; }

/* line 147, ../../../sass/components/partials/forms.scss */
.newsletter__check [type="radio"]:not(:checked), .newsletter__check [type="radio"]:checked, .newsletter__check [type="checkbox"]:not(:checked), .newsletter__check [type="checkbox"]:checked { position: absolute; left: 6px; bottom: -6px; width: 2px; height: 2px; border: none; appearance: none; opacity: 0; z-index: -1; }
/* line 160, ../../../sass/components/partials/forms.scss */
.newsletter__check [type="radio"]:not(:checked) + label, .newsletter__check [type="radio"]:checked + label, .newsletter__check [type="checkbox"]:not(:checked) + label, .newsletter__check [type="checkbox"]:checked + label { position: relative; display: block; min-height: 20px; line-height: 20px; padding: 0 0 0 24px; cursor: pointer; }
/* line 172, ../../../sass/components/partials/forms.scss */
.newsletter__check [type="radio"]:not(:checked) + label:before, .newsletter__check [type="radio"]:checked + label:before, .newsletter__check [type="checkbox"]:not(:checked) + label:before, .newsletter__check [type="checkbox"]:checked + label:before { content: ''; position: absolute; top: 0; left: 0; width: 20px; height: 20px; border: 1px solid #C8DCE3; border-radius: 50%; }
/* line 186, ../../../sass/components/partials/forms.scss */
.newsletter__check [type="radio"]:not(:checked) + label::after, .newsletter__check [type="radio"]:checked + label::after, .newsletter__check [type="checkbox"]:not(:checked) + label::after, .newsletter__check [type="checkbox"]:checked + label::after { content: '✓'; color: #fff; position: absolute; top: 0; left: 0; line-height: 24px; width: 20px; height: 20px; background-color: #FFE200; border-radius: 50%; text-indent: 6px; }
/* line 203, ../../../sass/components/partials/forms.scss */
.newsletter__check [type="radio"]:not(:checked) + label:after, .newsletter__check [type="checkbox"]:not(:checked) + label:after { opacity: 0; transform: scale(0); transition: all 0.35s ease; }
/* line 210, ../../../sass/components/partials/forms.scss */
.newsletter__check [type="radio"]:checked + label:after, .newsletter__check [type="checkbox"]:checked + label:after { opacity: 1; transform: scale(1); transition: all 0.35s ease; }
/* line 217, ../../../sass/components/partials/forms.scss */
.newsletter__check label { line-height: 20px; }
/* line 224, ../../../sass/components/partials/forms.scss */
.newsletter__check .rad > fieldset { width: 96px; float: left; }
/* line 229, ../../../sass/components/partials/forms.scss */
.newsletter__check .rad > fieldset > div { position: relative; width: 50%; float: left; }
/* line 236, ../../../sass/components/partials/forms.scss */
.newsletter__check .rad > label { width: calc(100% - 96px); padding: 0 0 0 8px; float: left; }

/* line 244, ../../../sass/components/partials/forms.scss */
textarea { line-height: 28px; min-height: 100px; padding: 6px 10px; }

/* line 250, ../../../sass/components/partials/forms.scss */
.input-field { border-radius: 8px; overflow: hidden; display: flex; align-items: flex-start; flex-direction: column; margin-bottom: 12px; position: relative; }
/* line 261, ../../../sass/components/partials/forms.scss */
.input-field--center > * { margin: 0 auto; }
/* line 266, ../../../sass/components/partials/forms.scss */
.input-field > label { font-family: "Roboto", Arial, sans-serif; font-size: 16px; font-weight: 700; line-height: 24px; margin-right: 10px; white-space: nowrap; }
/* line 274, ../../../sass/components/partials/forms.scss */
.input-field > label:empty { margin: 0; }
@media screen and (max-width: 736px) { /* line 279, ../../../sass/components/partials/forms.scss */
  .input-field.input-field--select { position: relative; } }
/* line 297, ../../../sass/components/partials/forms.scss */
.input-field.input-field--checkbox input { appearance: none; border-radius: 50%; border: 1px solid rgba(66, 137, 175, 0.3); min-width: 20px; height: 20px; position: relative; margin: 0; }
/* line 306, ../../../sass/components/partials/forms.scss */
.input-field.input-field--checkbox input:after { content: '✓'; opacity: 0; position: absolute; width: 100%; height: 100%; top: 0; left: 0; padding-top: 2px; font-family: "Roboto", Arial, sans-serif; font-size: 16px; color: #fff; text-indent: 5px; }
/* line 321, ../../../sass/components/partials/forms.scss */
.input-field.input-field--checkbox input:checked { background-color: #6E96CB !important; border: none; }
/* line 325, ../../../sass/components/partials/forms.scss */
.input-field.input-field--checkbox input:checked:after { opacity: 1; }
/* line 329, ../../../sass/components/partials/forms.scss */
.input-field.input-field--checkbox input:checked:hover { background-color: #6E96CB !important; border: none; }
/* line 333, ../../../sass/components/partials/forms.scss */
.input-field.input-field--checkbox input:checked:hover:after { opacity: 1; }
/* line 339, ../../../sass/components/partials/forms.scss */
.input-field.input-field--checkbox input:hover { background-color: rgba(66, 137, 175, 0.7) !important; border: none; }
/* line 343, ../../../sass/components/partials/forms.scss */
.input-field.input-field--checkbox input:hover:after { opacity: 1; }
/* line 349, ../../../sass/components/partials/forms.scss */
.input-field.input-field--checkbox label { color: #000; font-size: 15px; font-weight: normal; margin-left: 5px; padding-top: 3px; }

@media screen and (min-width: 737px) { /* line 360, ../../../sass/components/partials/forms.scss */
  select.chosen-select { display: block !important; position: absolute; left: 50%; bottom: 2px; width: 4px; height: 4px; min-height: 0; padding: 0; margin: 0 -2px 0 0; opacity: 0; z-index: -1; } }

/* line 376, ../../../sass/components/partials/forms.scss */
.chosen-container { width: 100% !important; border: none; padding: 0; min-height: 0; }
/* line 382, ../../../sass/components/partials/forms.scss */
.chosen-container .chosen-single { background: #fff; border: 1px solid #6E96CB !important; color: #000; display: flex; align-items: center; justify-content: space-between; height: 46px; padding: 0 16px; position: relative; -webkit-box-shadow: 0 6px 20px rgba(200, 220, 227, 0.3); box-shadow: 0 6px 20px rgba(200, 220, 227, 0.3); text-decoration: none; white-space: nowrap; background-clip: padding-box; width: 100%; }
/* line 399, ../../../sass/components/partials/forms.scss */
.chosen-container .chosen-single:after { content: ''; background-image: url("../../../images/icons.svg"); background-position: 3px -2543px; height: 20px; width: 20px; }
/* line 407, ../../../sass/components/partials/forms.scss */
.version-select .chosen-container .chosen-single { background: #f2f9fb !important; height: 32px; line-height: 30px; border: none; border-radius: 4px; box-shadow: none; padding: 0 10px; margin: 0; overflow: hidden; }
/* line 430, ../../../sass/components/partials/forms.scss */
.version-select .chosen-container .chosen-single span { font-style: normal; font-weight: 700; display: block; color: #000; white-space: nowrap; text-overflow: ellipsis; margin-right: 24px; overflow: hidden; }
/* line 442, ../../../sass/components/partials/forms.scss */
.chosen-container .chosen-single span { color: #757575; }
/* line 447, ../../../sass/components/partials/forms.scss */
.chosen-container .chosen-search { box-shadow: 0 3px 8px -6px; padding: 8px; }
/* line 451, ../../../sass/components/partials/forms.scss */
.chosen-container .chosen-search input[type=text] { background-color: rgba(255, 255, 255, 0.5); border: none; padding: 0 16px; }
/* line 460, ../../../sass/components/partials/forms.scss */
.chosen-container .chosen-results li.no-results { background: none; }
/* line 466, ../../../sass/components/partials/forms.scss */
.chosen-container.chosen-container-active span { color: #000; }
/* line 471, ../../../sass/components/partials/forms.scss */
.chosen-container.chosen-container-active.chosen-with-drop .chosen-single { background: #C8DCE3; border: none; box-shadow: none; }
/* line 484, ../../../sass/components/partials/forms.scss */
.chosen-container .chosen-drop { display: none; position: absolute; top: 100%; width: 100%; background: rgba(200, 220, 227, 0.95); border: 1px solid #C8DCE3; border-radius: 0 0 4px 4px; box-shadow: none; z-index: 1010; }
/* line 496, ../../../sass/components/partials/forms.scss */
.chosen-container .chosen-results { max-height: 275px; color: #000; font-size: 14px; padding: 0 24px !important; margin: 0; }
/* line 505, ../../../sass/components/partials/forms.scss */
.chosen-container .chosen-results li { color: #000; font-family: inherit; font-size: 14px; font-style: normal; font-weight: 700; line-height: 42px; padding: 0; margin: 0; }
/* line 515, ../../../sass/components/partials/forms.scss */
.chosen-container .chosen-results li.highlighted { color: #000; background: transparent; }
/* line 520, ../../../sass/components/partials/forms.scss */
.chosen-container .chosen-results li:hover { color: #6E96CB; }
/* line 524, ../../../sass/components/partials/forms.scss */
.chosen-container .chosen-results li.result-selected, .chosen-container .chosen-results li.disabled-result .chosen-container .chosen-results li.result-selected:hover, .chosen-container .chosen-results li.disabled-result:hover { color: rgba(0, 0, 0, 0.3); cursor: default; font-weight: 700; }

/* line 539, ../../../sass/components/partials/forms.scss */
.search__field { position: relative; }
/* line 542, ../../../sass/components/partials/forms.scss */
.search__field input[type="text"] { padding: 0 194px 0 24px; }
@media screen and (max-width: 736px) { /* line 542, ../../../sass/components/partials/forms.scss */
  .search__field input[type="text"] { padding: 0 148px 0 24px; } }
/* line 549, ../../../sass/components/partials/forms.scss */
.search__field .search__field__submit { position: absolute; top: 6px; right: 24px; color: #FFF; font-family: "Roboto", Arial, sans-serif; font-size: 14px; font-weight: 600; line-height: 32px; text-align: center; text-transform: capitalize; background-color: #6E96CB; background-repeat: no-repeat; border-radius: 4px; padding: 0 48px; /*
@media screen and (max-width: $breakpoint) { position: static; display: block; width: 100%; line-height: 42px; margin: 12px auto;
}
*/ }
@media screen and (max-width: 736px) { /* line 549, ../../../sass/components/partials/forms.scss */
  .search__field .search__field__submit { top: 4px; padding: 0 32px; } }
/* line 579, ../../../sass/components/partials/forms.scss */
.search__field .search__field__submit:hover { background-color: #487bbe; }

@media screen and (device-aspect-ratio: 2 / 3) { /* line 588, ../../../sass/components/partials/forms.scss */
  .newsletter__field__submit, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"] { font-size: 14px !important; } }
@media screen and (device-aspect-ratio: 40 / 71) { /* line 600, ../../../sass/components/partials/forms.scss */
  .newsletter__field__submit, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"] { font-size: 14px !important; } }
@media screen and (device-aspect-ratio: 375 / 667) { /* line 612, ../../../sass/components/partials/forms.scss */
  .newsletter__field__submit, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"] { font-size: 16px !important; } }
@media screen and (device-aspect-ratio: 9 / 16) { /* line 624, ../../../sass/components/partials/forms.scss */
  .newsletter__field__submit, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"] { font-size: 16px !important; } }
