<!-- card-news--big.twig partial -->

<article class="card card-info--big">

	{% if loop.index <= 1 and cardinfobig is not defined or loop.index is not defined and cardinfobig is not defined %}

	<link rel="stylesheet" href="@@url/css/components/partials/card-info--big@css_extension.css" />

	{% endif %}

<!-- code here -->

	<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
		<picture data-link="{{ queryItem.link }}">
			<img class="lazyload" data-srcset="{{ queryItem.srcImgCardBig }}, {{ queryItem.srcImgCardBigx2 }} 2x" alt="{{ queryItem.title }}"/>
		</picture>
		<noscript>
        <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="{{ queryItem.srcImgCardBig }}" media="(max-width: 736px)"/>
            <!--[if IE 9]></video><![endif]-->
            <img src="{{ queryItem.srcImgCardBig }}" alt="{{ queryItem.title }}"/>
        </picture>
    </noscript>
		<div class="card__content card__content--overlay">
			<p class="abstract">{{ queryItem.content }}</p>
		</div>
	</div>


</article>
