<!-- card-news--big.twig partial -->

<article class="card card-news--big">

	{% if loop.index <= 1 and cardnewsbig is not defined or loop.index is not defined and cardnewsbig is not defined %}

	<link rel="stylesheet" href="@@url/css/components/partials/card-news--big@css_extension.css" />

	{% endif %}

	<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
		<picture data-link="{{ queryItem.link }}">
			<img class="lazyload" data-srcset="{{ queryItem.srcImgCardBig }}, {{ queryItem.srcImgCardBigx2 }} 2x" alt="{{ queryItem.title }}"/>
		</picture>
		<noscript>
				<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="{{ queryItem.srcImgCardBig }}" media="(max-width: 736px)"/>
						<!--[if IE 9]></video><![endif]-->
						<img src="{{ queryItem.srcImgCardBig }}" alt="{{ queryItem.title }}"/>
				</picture>
		</noscript>
	</div>
	<div class="card__content">
		<div class="card__title">
			<h3>{{ queryItem.title }}</h3>
		</div>
		<time datetime="{{ queryItem.created_at }}">{{ queryItem.created_at|date('d-F-Y', "Europe/Rome") }}</time>
		<p class="abstract">{{ queryItem.excerpt }}</p>
	</div>

	<div class="card__footer">
		<ul>
			<li><a href="#" class="social-comment social-comment--fb-icon"><span>6 commenti</span></a></li>
			<li><a href="#" class="social-comment social-comment--tw-icon"><span>3 commenti</span></a></li>
		</ul>
	</div>

</article>
