<!-- card-team-torneo.twig partial -->

<div class="card card-team-torneo">

{% if loop.index <= 1 and cardteamtorneo is not defined or loop.index is not defined and cardteamtorneo is not defined %}

<link rel="stylesheet" href="@@url/css/components/partials/card-team-torneo@css_extension.css" />

{% endif %}
<div class="card__inner">
	<div class="player">
		<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
			<picture data-link="{{ queryItem.playerOne.link }}">
				<img class="lazyload" data-srcset="{{ queryItem.playerOne.srcImgAvatar }}, {{  queryItem.playerOne.srcImgAvatarx2 }} 2x" alt="{{ queryItem.playerOne.name }}"/>
			</picture>
			<noscript>
					<picture>
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="{{ queryItem.playerOne.srcImgAvatar }}" media="(max-width: 736px)"/>
							<!--[if IE 9]></video><![endif]-->
							<img src="{{ queryItem.playerOne.srcImgAvatar }}" alt="{{ queryItem.playerTwo.name }}"/>
					</picture>
			</noscript>
		</div>
		<div class="player__name">
			<span>{{queryItem.playerOne.name }}</span>
		</div>
	</div>
	<div class="player">
		<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
			<picture data-link="{{ queryItem.playerTwo.link }}">
				<img class="lazyload" data-srcset="{{ queryItem.playerTwo.srcImgAvatar }}, {{ queryItem.playerTwo.srcImgAvatarx2 }} 2x" alt="{{ queryItem.playerTwo.name }}"/>
			</picture>
			<noscript>
					<picture>
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="{{ queryItem.playerTwo.srcImgAvatar }}" media="(max-width: 736px)"/>
							<!--[if IE 9]></video><![endif]-->
							<img src="{{ queryItem.playerTwo.srcImgAvatar }}" alt="{{ queryItem.playerTwo.name }}"/>
					</picture>
			</noscript>
		</div>
		<div class="player__name">
			<span>{{queryItem.playerTwo.name }}</span>
		</div>
	</div>
</div>
<div class="card__footer--separated">
	<span>CATEGORIA {{ queryItem.category }}</span>
	<span>GIRONE {{ queryItem.round }}</span>
</div>

</div>
