<!-- list-item-news.twig partial -->

<div class="list-item-news">

{% if loop.index <= 1 and listitemnews is not defined or loop.index is not defined and listitemnews is not defined %}

<link rel="stylesheet" href="@@url/css/components/partials/list-item-news@css_extension.css" />

{% endif %}

<a href="{{ queryItem.link }}">
  <div class="card__inner">
    <div class="player">

      <div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
        <picture>
          <img class="lazyload" data-srcset="{{ queryItem.srcImgCardBig }}, {{ queryItem.srcImgCardBigx2 }} 2x" alt="{{ queryItem.name }}"/>
        </picture>
        <noscript>
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="{{ queryItem.srcImgCardBig }}" media="(max-width: 736px)"/>
                <!--[if IE 9]></video><![endif]-->
                <img src="{{ queryItem.srcImgCardBig }}" alt="{{ queryItem.title }}"/>
            </picture>
        </noscript>
      </div>
      <div class="list-item__content">
        <time>11 aprile 2018</time>
        <div class="player__name">
          <span>{{queryItem.title }}</span>
        </div>
        <div class="abstract">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab</p>
        </div>
      </div>
    </div>
  </div>
</a>

</div>
