<!-- login.twig section -->
{% import '../partials/forms.twig' as forms %}

<div class="login-form">

{% if loop.index <= 1 and login is not defined or loop.index is not defined and login is not defined %}

<link rel="stylesheet" href="@@url/css/components/sections/login-form@css_extension.css" />

{% endif %}

	<div class="container">
		<form name="loginform" id="loginform" method="{{ forms.login.method }}" action="{{ forms.login.action }}">
			@@csrf_field
			{{ forms.inputField('email', 'email', '', 'text', 'e-mail...', '', 'required', '', true) }}
			{{ forms.inputField('password', 'password', '', 'password', 'password...', '', 'required', '') }}
			<div class="cta-container cta-container--center">
				<button type="submit" class="loginform cta cta--enter cta--yellow">entra</button>
			</div>

		</form>
	</div>
</div>
