/* card-team-categoria.twig styles */

@import "customVariables";

.card-team-categoria {
	background: none !important;
	border: none !important;
	margin: 0 12px #{$containerDivider}px !important;

	.card__inner {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 8px;
		border: 2px solid #fff;
		display: flex;
		padding: 12px;
		justify-content: space-evenly;
	}

	.player {
		margin-bottom: 16px;

		.card__thumbnail {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 2px solid #fff;
			overflow: hidden;
			margin-bottom: 12px;
		}

		.player__name {
			color: #fff;
			font-family: $secondaryFont;
			font-weight: bold;
			text-align: center;
		}
	}
}
