/* card-team-classifica.twig styles */

@import "customVariables";

.card-team-classifica {
	display: flex;
	align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255,255,255,0.5);

	.card__inner {
		display: flex;
		align-items: center;
		min-width: 220px;
		padding: 0 8px;

		.player {
			width: 50%;

			&__name {
				color: #fff;
				text-align: center;
				max-width: 110px;
			}

			&__ranking {
				color: #fff;
				font-size: 30px;
				font-weight: bold; 
			}
		}
	}

	.card__thumbnail {
		width: 65px;
    border-radius: 50%;
    overflow: hidden;
		margin: 0 auto 8px;
	}

	.card__footer {
		padding: 0 8px !important;
		display: flex;
    justify-content: space-between !important;

		.card__footer__value {
			color: $secondaryColor;
			font-weight: bold;
		}
	}

	&--player {

		.card__inner {
			max-width: 180px;
			min-width: 0;

			.player {
				width: auto;
			}

			.player__ranking {
				width: auto;
				min-width: 70px;
			}
		}
	}

}
