/* card-team-stats.twig styles */

@import "customVariables";

.card-team-stats {
	background: none !important;
	border: none !important;
	margin: 0 auto #{$containerDivider}px !important;

	.card__inner {
		background-color: rgba(0, 0, 0, 0.5);
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
		border: 2px solid #fff;
		display: flex;
		justify-content: space-evenly;
	}

	.player {
		margin-top: -16px;
		margin-bottom: 16px;

		.card__thumbnail {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 2px solid #fff;
			overflow: hidden;
			margin: auto auto 12px;
		}

		.player__name {
			color: #fff;
			font-family: $secondaryFont;
			font-weight: bold;
			text-align: center;
		}

		&--2 {

		}
	}

	.card__footer {

		span {
			display: block;
			text-align: center;
		}

		&--separated {
			background-color: $primaryColor;
			border-bottom-right-radius: 8px;
			border-bottom-left-radius: 8px;
			padding: 8px;
			margin-top: 6px;
			display: flex;
			justify-content: space-between;

			> div {
				flex: 1;
				border-right: 1px solid rgba(255,255,255,0.5);

				&:last-child {
					border-right: none;
				}
			}

			span {
				color: #fff;
				font-family: $secondaryFont;
				font-weight: bold;
			}
		}

		&__value {
			color: $secondaryColor !important;
			font-size: 20px;
			font-weight: bold;
		}
	}
}
