/* card-social.twig styles */

@import "customVariables";

.card-social {
	padding: #{$containerPadding}px;
	max-width: 370px;

	.card__title {

		h3 {
			text-align: center;
		}
	}

	p {
		text-align: center;
	}

	.social-comment {
		font-size: 18px;
		line-height: 32px;
		background-size: 32px auto;
		padding-left: 33px;
		padding-right: 33px;
		margin-bottom: -11px;

		&.social-comment--fb-icon {
			background-position: 0 -125px; margin-left: 29px;
		}

		&.social-comment--tw-icon {
			background-position: 0 -174px; margin-left: 29px;
		}
	}
}
