/* card-match.twig styles */

@import "customVariables";

.card-match {
	background: none !important;
	border: none !important;
	margin: 0 12px #{$containerDivider}px !important;

	.card__inner {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 8px;
		border: 2px solid #fff;
		display: flex;
		padding: 12px;
		justify-content: space-evenly;
	}

	&__team {
		width: 50%;
	}

	.vs {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $secondaryColor;
		font-size: 30px;
		font-weight: bold;
		padding: 6px;

		span {
			padding: 12px 0px;
		}

		&:before, &:after {
			content: '';
			flex: 1;
			width: 1px;
			background: rgba(255,255,255,0.5);
			height: 100px;
		}
	}

	.player {
		margin-bottom: 16px;

		.card__thumbnail {
			width: 90px;
			height: 90px;
			border-radius: 50%;
			border: 2px solid #fff;
			overflow: hidden;
			margin: auto auto 12px;
		}

		.player__name {
			color: #fff;
			font-family: $secondaryFont;
			font-weight: bold;
			text-align: center;
		}
	}

	&__result {
		display: flex;
		justify-content: center;
		margin: 12px 0;

		span {
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			margin: 0 18px;
		}
	}
}
