/* card-news--big.twig styles */

@import "customVariables";

.card-info--big {

	picture {
		padding-bottom: 50%;
	}

	.card__content--overlay {
		background-color: rgba(0,0,0,0.5);
		display: flex;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		p {
			color: #fff;
			font-weight: bold;
			font-size: 24px;
			line-height: 34px;
			padding: 20px;
			text-align: center;
		}
	}
}
