/* card-circolo.twig styles */

@import "customVariables";

.card-circolo {
	padding: #{$containerPadding}px;
	max-width: 370px;

	.card__title {

		h3 {
			text-align: center;
		}
	}

	p {
		text-align: center;
	}
}
