/* card-events--big.twig styles */

@import "customVariables";
@import "mixins";


.card-events--big {
	margin-top: 32px !important;

	.card__thumbnail {
		border-radius: 50%;
		border: 2px solid #fff;
		position: absolute;
		left: 50%;
		overflow: hidden;
		transform: translate(-50%, -50%);
		width: 92px;

		picture {

		}
	}

	.card__content {
		padding: 56px #{$containerPadding}px #{$containerPadding}px;

		h3 {
			color: #fff;
			margin-bottom: 12px;
			text-align: center;
		}

		.asbtract {

			p {
				@include line-clamp(2,28)
			}
		}

		p {
			color: #fff;
		}

		time {

			.started-events & {
				display: none;
			}
		}
	}

	.card__footer {

		.started-events & {
			display: none;
		}
	}
}
