/* card-news--big.twig styles */

@import "customVariables";
@import "mixins";

.card-news--big {
	background-color: rgba(0,0,0,0.6);

	picture {
		padding-bottom: 50%;
	}

	.card__content {
		padding: #{$containerPadding}px;

		h3 {
			color: #fff;
			margin-bottom: 12px;
		}

		.abstract {

			p {
				@include line-clamp(2,28)
			}
		}

		p {
			color: #fff;
		}
	}
}
