/* card-team-torneo.twig styles */

@import "customVariables";

.card-team-torneo {
	background: none !important;
	border: none !important;
	margin: 0 auto #{$containerDivider}px !important;

	.card__inner {
		background-color: rgba(0, 0, 0, 0.5);
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
		border: 2px solid #fff;
		display: flex;
		justify-content: space-evenly;
	}

	.player {
		margin-top: -16px;
		margin-bottom: 16px;

		.card__thumbnail {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 2px solid #fff;
			overflow: hidden;
			margin-bottom: 12px;
		}

		.player__name {
			color: #fff;
			font-family: $secondaryFont;
			font-weight: bold;
			text-align: center;
		}
	}

	.card__footer--separated {
		background-color: $primaryColor;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		padding: 8px;
		margin-top: 6px;
		display: flex;
		justify-content: space-evenly;

		span {
			color: #fff;
			font-family: $secondaryFont;
			font-weight: bold;
		}
	}
}
