/* list-item-news.twig styles */

@import "customVariables";

.list-item-news {
	padding: 8px 0;
	border-bottom: 1px solid rgba(255,255,255,0.5);

	.card__inner {

    .list-item__content {
      width: calc(100% - 124px);

      time {
          font-size: 14px;
          font-weight: normal;
          margin: 0 0 6px;
          text-align: left;
      }
    }

		.player {
      background-image: url('#{$urlImagesFromPartial}/caret-enter.svg');
			background-position: right 16px top calc(50% - 8px);
      background-size: 11px;
      background-repeat: no-repeat;
			//background-size: 34px;
			display: flex;

			&__name {
				color: #fff;
				font-weight: bold;
				font-size: 18px !important;
			}

      .abstract {

        p {
          font-size: 16px;
          line-height: 20px;
          margin-top: 6px;
        }
      }
		}
	}

	.card__thumbnail {
		border: 2px solid #fff;
		min-width: 65px;
    border-radius: 50%;
    height: 65px;
    overflow: hidden;
		margin-right: 12px;
	}

	.player__data {
		border-radius: 4px;
		display: flex;
		justify-content: space-between;
		background-color: $primaryColor;
		margin-top: 6px;
		padding: 4px;

		span {
			color: $secondaryColor;
		}
	}
}
