/* list-item-giocatore.twig styles */

@import "customVariables";
@import "mixins";

.list-item-giocatore {
	padding: 8px 0;
	border-bottom: 1px solid rgba(255,255,255,0.5);

	.card__inner {

		.player {
			@extend %iconsFromPartial;
			background-position: right 0 top -317px;
			background-size: 34px;
			display: flex;
			align-items: center;

			&__ranking {
				color: #fff;
				font-size: 30px;
				font-weight: bold;
				margin-right: 12px;
				min-width: 63px;
			}

			&__name {
				color: #fff;
				font-weight: bold;
				font-size: 18px;
			}
		}
	}

	.card__thumbnail {
		border: 2px solid #fff;
		width: 65px;
    border-radius: 50%;
    overflow: hidden;
		margin-right: 12px;
	}

	.player__data {
		border-radius: 4px;
		display: flex;
		justify-content: space-between;
		background-color: $primaryColor;
		margin-top: 6px;
		padding: 4px;

		span {
			color: $secondaryColor;
		}
	}
}
