/* search-form.twig styles */

@import "customVariables";
@import "mixins";

.search-form {

  &__field {
    display: flex;
    justify-content: space-between;

    #search-field {
      width: calc(100% - 50px);
    }

    &__submit {
      @extend %iconsFromPartial;
      background-position: 16px 10px;
      width: 50px;
      background-size: 30px auto;
    }
  }
}
