/* macro tabs.twig styles */

@import "customVariables";


.tabs {
	margin: #{$containerDivider}px auto;

	.tabs__nav {

	  label {
			//background-color: #000;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			color: #fff;
	    font-family: $secondaryFont;
	    font-size: 20px;
	    font-weight: bold;
			display: inline-block;
			padding: 7px;
	    margin: 0 7px;
			text-align: center;
			text-shadow: 0 0 5px #000;
	  }
	}

	input[type="radio"] {

	}

	.tabs__body {
		// background-color: rgba(0,0,0,0.5);
		// border-radius: 8px;
		// border: 2px solid #fff;
		overflow: hidden;

		&__panel {
			padding: 24px #{$containerPadding}px #{$containerPadding}px;
		}

	  .featured-data__item {

	    &:last-child {
	      border-bottom: none;
	    }
	  }
	}
}
