<!--header.twig section -->

<header class="header">
	<div class="header__top flex flex-row">
    <div class="hamburger" role="button"></div>
    <div class="logo">
			<a href="./homepage">
	      <picture class="logo__picture">
	    			<!--[if IE 9]><video style="display: none;"><![endif]-->
	    			<source srcset="@@url/images/logo-amatoripadel@2x.png 2x"/>
	    			<!--[if IE 9]></video><![endif]-->
	    			<img data-srcset="@@url/images/logo-amatoripadel.png" alt="logo Amatori Padel"/>
	    	</picture>
			</a>
    </div>
		<a href="./login" class="login" role="button"></a>
    <nav class="header__main-menu">
      <div class="header__main-menu__head">
					<div class="profile-image">
						<div class="profile-image__container">
							<img src="@@publicStorage{{ current_user.avatar }}">
						</div>
						<a href="#"><span class="profile-image__notify-badge">{{ current_user.tot_notifications }}</span></a>
					</div>
					<span class="profile-name section-title">{{ current_user.name }}</span>
        <div class="main-menu__close button--close" role="button"></div>
      </div>
      <ul class="header__main-menu__body flex flex--column">
        {% for item in menu %}
					{% if loop.index == 4 %}
					<li class="divider-item">
						<span class="section-title">Circuito Giro Padel</span>
					</li>
					{% endif %}
					{% if item.items is defined %}
						<li class="header__main-menu__item {{item.name|lower}}-item block-item">
							<input id="{{item.name|lower}}-check" hidden type="checkbox" />
							<label for="{{item.name|lower}}-check" class="item-label item-label--opener">{{item.name}}</label>
							<ul class="submenu">
								{% for subitem in item.items %}
									<li class="header__main-menu__subitem {{subitem.name|lower}}-subitem">
										<a href="{{subitem.link}}" class="yellow-text-link yellow-text-link--enter">{{subitem.name}}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% else %}
						<li class="header__main-menu__item {{item.name|lower}}-item single-item"><a class="item-label" href="{{item.link}}">{{item.name}}</a></li>
					{% endif %}

        {% endfor %}
      </ul>
    </nav>
      {# % include '../../components/partials/partial-search-form.twig' % #}
  </div>
</header>
