<!-- registration-form.twig section -->
{% import '../partials/forms.twig' as forms %}

<div class="registration-form">

{% if loop.index <= 1 and registrationform is not defined or loop.index is not defined and registrationform is not defined %}

<link rel="stylesheet" href="@@url/css/components/sections/registration-form@css_extension.css" />

{% endif %}


	<div class="container">
		<form name="registrationform" id="registrationform" method="{{ forms.register.method }}" action="{{ forms.register.action }}">
			@@csrf_field
			<div class="input-field input-field--file forms-js">
				<input type="file" id="image" name="image" onchange="readURL(this);" hidden />
				<label for="image"><span>+</span></label>
				<div class="input__image-container">
					<img id="input__image-container__preview" src="@@url/images/avatar-placeholder-white.svg" alt="il tuo avatar" />
				</div>
			</div>
			{{ forms.inputField('name', 'name', '', 'text', 'nome...', '', 'required', '') }}
			{{ forms.inputField('lastname', 'lastname', '', 'text', 'cognome...', '', 'required', '') }}
			{{ forms.inputField('city', 'city', '', 'text', 'città...', '', 'required', '') }}
			{{ forms.inputField('mobile', 'mobile', '', 'tel', 'cellulare...', '', 'required', '') }}
			<div class="cta-container cta-container--center">
				<button type="submit" class="loginform cta cta--enter cta--yellow">iscriviti</button>
			</div>
		</form>
	</div>

</div>
