<!-- card-circolo.twig partial -->

<div class="card card-circolo">

	{% if loop.index <= 1 and cardcircolo is not defined or loop.index is not defined and cardcircolo is not defined %}

	<link rel="stylesheet" href="@@url/css/components/partials/card-circolo@css_extension.css" />

	{% endif %}

	<div class="card__content">
		<div class="card__title">
			<h3>Gestisci un circolo?</h3>
		</div>
		<p class="abstract">Condividi, comunica e confrontati</br> con gli appassionati di Padel</br> sulle pagine dei Social Network</p>
	</div>
	<div class="card__footer">
		<div class="cta-container cta-container--center">
			<button class="cta cta--enter cta--yellow">Iscrivi il tuo circolo</button>
		</div>
	</div>

</div>
