<!-- card-match.twig partial -->

<div class="card card-match">

{% if loop.index <= 1 and cardmatch is not defined or loop.index is not defined and cardmatch is not defined %}

<link rel="stylesheet" href="@@url/css/components/partials/card-match@css_extension.css" />

{% endif %}

	<div class="card__inner flex flex--column flex--center">
		<div class="flex">
			<div class="card-match__team">
				<div class="player">
					<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
						<picture data-link="{{ queryItem[0].playerOne.link }}">
							<img class="lazyload" data-srcset="{{ queryItem[0].playerOne.srcImgAvatar }}, {{  queryItem[0].playerOne.srcImgAvatarx2 }} 2x" alt="{{ queryItem[0].playerOne.name }}"/>
						</picture>
						<noscript>
								<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source srcset="{{ queryItem[0].playerOne.srcImgAvatar }}" media="(max-width: 736px)"/>
										<!--[if IE 9]></video><![endif]-->
										<img src="{{ queryItem[0].playerOne.srcImgAvatar }}" alt="{{ queryItem[0].playerTwo.name }}"/>
								</picture>
						</noscript>
					</div>
					<div class="player__name">
						<span>{{queryItem[0].playerOne.name }}</span>
					</div>
				</div>
				<div class="player">
				<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
					<picture data-link="{{ queryItem[0].playerTwo.link }}">
						<img class="lazyload" data-srcset="{{ queryItem[0].playerTwo.srcImgAvatar }}, {{ queryItem[0].playerTwo.srcImgAvatarx2 }} 2x" alt="{{ queryItem[0].playerTwo.name }}"/>
					</picture>
					<noscript>
							<picture>
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="{{ queryItem[0].playerTwo.srcImgAvatar }}" media="(max-width: 736px)"/>
									<!--[if IE 9]></video><![endif]-->
									<img src="{{ queryItem[0].playerTwo.srcImgAvatar }}" alt="{{ queryItem[0].playerTwo.name }}"/>
							</picture>
					</noscript>
				</div>
				<div class="player__name">
					<span>{{queryItem[0].playerTwo.name }}</span>
				</div>
			</div>
			</div>
			<div class="vs"><span>VS</span></div>
			<div class="card-match__team">
				<div class="player">
					<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
						<picture data-link="{{ queryItem[1].playerOne.link }}">
							<img class="lazyload" data-srcset="{{ queryItem[1].playerOne.srcImgAvatar }}, {{  queryItem[1].playerOne.srcImgAvatarx2 }} 2x" alt="{{ queryItem[1].playerOne.name }}"/>
						</picture>
						<noscript>
								<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source srcset="{{ queryItem[1].playerOne.srcImgAvatar }}" media="(max-width: 736px)"/>
										<!--[if IE 9]></video><![endif]-->
										<img src="{{ queryItem[1].playerOne.srcImgAvatar }}" alt="{{ queryItem[1].playerTwo.name }}"/>
								</picture>
						</noscript>
					</div>
					<div class="player__name">
						<span>{{queryItem[1].playerOne.name }}</span>
					</div>
				</div>
				<div class="player">
					<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
						<picture data-link="{{ queryItem[1].playerTwo.link }}">
							<img class="lazyload" data-srcset="{{ queryItem[1].playerTwo.srcImgAvatar }}, {{ queryItem[1].playerTwo.srcImgAvatarx2 }} 2x" alt="{{ queryItem[1].playerTwo.name }}"/>
						</picture>
						<noscript>
								<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source srcset="{{ queryItem[1].playerTwo.srcImgAvatar }}" media="(max-width: 736px)"/>
										<!--[if IE 9]></video><![endif]-->
										<img src="{{ queryItem[1].playerTwo.srcImgAvatar }}" alt="{{ queryItem[1].playerTwo.name }}"/>
								</picture>
						</noscript>
					</div>
					<div class="player__name">
						<span>{{queryItem[1].playerTwo.name }}</span>
					</div>
				</div>
			</div>
		</div>

<!-- blocco DA DISPUTARE -->

<div class="card-match__footer card-match__footer--inputDate">
			<span class="section-title section-title--no-separator section-title--small" >DA DISPUTARE</span>
			<div class="cta-container cta-container--center">
				<button onclick="javascript: opendModalDate" class="cta cta--enter cta--yellow cta--rounded">fissa l'incontro</button>
			</div>
		</div>

<!-- blocco DISPUTATO, CON PUNTEGGIO DA INSERIRE -->

		<!-- <div class="card-match__footer card-match__footer--inputResult">
			<time datetime="2019 04 18">18 aprile 2019 - ore 19:00</time>
			<div class="cta-container cta-container--center">
				<button onclick="javascript: opendModalResult" class="cta cta--enter cta--yellow cta--rounded">inserisci risultato</button>
			</div>
		</div> -->

<!-- blocco COMPLETATO -->

		<!-- <div class="card-match__footer card-match__footer--final">
			<div class="card-match__result">
				<span>6 - 2</span><span>6 - 0</span><span>4 - 6</span>
			</div>
			<time datetime="2019 04 18">18 aprile 2019 - ore 19:00</time>
		</div> -->

	</div>

</div>
