<!-- card-social.twig partial -->

<div class="card card-social">

	{% if loop.index <= 1 and cardsocial is not defined or loop.index is not defined and cardsocial is not defined %}

	<link rel="stylesheet" href="@@url/css/components/partials/card-social@css_extension.css" />

	{% endif %}

		<div class="card__content">
			<div class="card__title">
				<h3>Social</h3>
			</div>
			<p class="abstract">Condividi, comunica e confrontati</br> con gli appassionati di Padel</br> sulle pagine dei Social Network</p>
		</div>
		<div class="card__footer">
			<ul>
				<li><a href="#" class="social-comment social-comment--fb-icon"><span>accedi</span></a></li>
				<li><a href="#" class="social-comment social-comment--tw-icon"><span>accedi</span></a></li>
			</ul>
		</div>
</div>
