<!-- list-item-giocatore.twig partial -->

<div class="list-item-giocatore">

{% if loop.index <= 1 and listitemgiocatore is not defined or loop.index is not defined and listitemgiocatore is not defined %}

<link rel="stylesheet" href="@@url/css/components/partials/list-item-giocatore@css_extension.css" />

{% endif %}
	<a href="{{ queryItem.link }}">
		<div class="card__inner">
			<div class="player">

				<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
					<picture>
						<img class="lazyload" data-srcset="{{ queryItem.srcImgAvatar }}, {{ queryItem.srcImgAvatarx2 }} 2x" alt="{{ queryItem.name }}"/>
					</picture>
					<noscript>
							<picture>
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="{{ queryItem.srcImgAvatar }}" media="(max-width: 736px)"/>
									<!--[if IE 9]></video><![endif]-->
									<img src="{{ queryItem.srcImgAvatar }}" alt="{{ queryItem.name }}"/>
							</picture>
					</noscript>
				</div>
				<div class="player__name">
					<span>{{queryItem.name }}</span>
				</div>
			</div>
			<div class="player__data">
				<div><label>p.v.</label>&nbsp;<span>12</span></div>
				<div><label>p.p.</label>&nbsp;<span>2</span></div>
				<div><label>livello</label>&nbsp;<span>intermedio</span></div>
			</div>
		</div>
	</a>
</div>
