/* footer.twig styles */

footer.footer {
	background-color: $primaryColor;
	flex-direction: row;
	justify-content: space-between;
	height: 90px;

	.logo {
		width: 70px;
		padding: 0 32px;
		box-sizing: content-box;
	}

	.footer__info {
		padding: 0 32px;

		> a {
			@extend %icons;
			margin: 6px 0;
			padding-left: 30px;
		}
	}
}

.phone-link {
	background-position: 0 -1000px;
	font-family: $secondaryFont;
	color: #fff;
}

.mail-link {
	background-position: 0 -1050px;
	font-family: $secondaryFont;
	color: #fff;
}
