/* header.twig styles */
@import "customVariables";
@import "mixins";
@import "../../node_modules/rogiostrap/src/sass/core/mediaqueries";

.header {
	padding-top: 80px;
	margin-bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 2;
	background-image: url("../images/headergiropadel.svg");
	background-repeat: no-repeat;
	background-position:center top;

	&:before {
		content: '';
		background: #fff;
		height: 0.7px;
		flex: 1;
		width: calc(50% - 184px);
		display: block;
		float: left;
	}

	 &:after {
			content: '';
			background: #fff;
			height: 0.7px;
			flex: 1;
			width: calc(50% - 184px);
			display: block;
			float: right;
	}

	&__top {
		justify-content: space-between;
		align-items: center;
		flex-direction: row !important;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 111;
		width: 100%;

		.hamburger {
			display: block;
			@extend %icons;
			background-position: 14px -697px;
			width: 50px;
			height: 50px;
		}

		.login {
			@extend %icons;
			background-position: 13px -1616px;
			width: 50px;
			height: 50px;
		}
	}

	&__main-menu {
		//box-shadow: 8px 0 20px rgba(0,0,0,0.4);
		//background: #fff;
		transition: left ease-in-out 0.25s;
		width: 100%;

		.header & {
			position: fixed;
			top: 0;
			left: -110%;
			z-index: 20;
			height: 100%;
		}

		&.opened {
			left: 0;
			padding: 0;
		}

		.main-menu__close {
			@extend %icons;
			width: 50px;
			height: 50px;
			background-position: 14px -731px;
			margin-left: auto;

		}

		&__head {
			background-color: $primaryColor;
			height: 80px;
			display: flex;
			align-items: center;
			padding: 10px;

			.profile-image {
				position: relative;

				&__container {
					border-radius: 50%;
					border: 2px solid #fff;
					overflow: hidden;
					width: 65px;
					height: 65px;
				}

				&__notify-badge {
					color: #fff;
					font-weight: bold;
					background: $red;
					border-radius: 50%;
					border: 2px solid #fff;
					position: absolute;
					bottom: -4px;
					right: -9px;
					width: 31px;
					height: 31px;
					text-align: center;
					line-height: 27px;
				}
			}

			.profile-name {
				font-style: italic;
				font-size: 20px;
				margin: auto ;
			}
		}

		&__body {

			overflow-y: auto;
			padding: 0 16px;
			width: 100%;

			.header & {
				background-color: $darkAzure;

				position: absolute;
				height: calc(100% - 80px);
			}

			.section-title {
				color: $yellow;

				&:before, &:after {
					content: none;
				}
			}
		}

		li {

			input {

				&:checked {

					& + .item-label--opener {

						&:after {
							transform: rotate(180deg);
						}
					}

					& ~ .submenu {
						max-height: 3000px;
					}
				}

				& ~ .submenu {

					a {
						display: block !important;
					}
				}
			}

			&.single-item {

				a {
					@extend %icons;
					background-position: right 0 top -221px;
				}
			}

			.submenu {
				max-height: 0;
				overflow: hidden;
				transition: max-height ease-out 0.3s;
			}

			.item-label {
				color: #fff;
				font-family: $secondaryFont;
				font-size: 20px;
				font-weight: bold;
				padding: 12px 0;
				margin: 0 10px;
				position: relative;
				display: block;
				width: 100%;

				@include smartphone {
					display: inline-block;
					margin: 10px 0;
				}

				&--opener {

					&:after {
						content: url('#{$urlImages}/caret-white.svg');
						position: absolute;
						right: 10px;
						transition: transform ease-in-out 0.15s;
					}
				}
			}

			&.divider-item {
				border-top: 1px solid rgba(255,255,255,0.4);
				padding: 10px 0;
			}

			&.block-item {

				& + .single-item {
					border-top: 1px solid rgba(255,255,255,0.4);
				}
			}
		}
	}
}

.logo {
	width: 270px;

	picture {
		padding-bottom: 80px;

		img {
			min-height: 0;
			max-width: 100%;
			max-height: 75%;
			min-width: 0;
		}
	}

	@include smartphone {
		width: 170px;
	}

	&--modal {
		width: 100px;
	}
}
