/* cards-slider.twig styles */

@import "customVariables";

.cards-slider__container {

	margin: 12px 0;

	.swiper-slide {
		background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 370px;
    // margin-left: -38px;
    // margin-right: -44px;
	}

	.swiper-pagination {
		margin: 10px 0;
		position: static;

		.swiper-pagination-bullet {
			opacity: 1.3;
			width: 20px;
    	height: 20px;
    	border: 2px solid rgba(255,255,255,1);
    	border-width: 2px 2px 2px 2px;
    	display: inline-block;
    	border-radius: 100%;
		}
	}

	.swiper-pagination-bullet-active {
		background: #fff;
		opacity: 1 !important;
	}
}
