/* login.twig styles */

@import "customVariables";

.login-form {
	margin: #{$containerPadding}px 0;
	border-bottom: 1px solid #ccc;

	button[type=submit] {
		min-width: 150px;
	}

	#loginform {
		margin-bottom: 24px;
	}
}
