<script>
	window.tribooScriptModules = [
		{
			countdown: {
				exists: document.getElementsByClassName('slide-countdown-js').length,
				params: {
					url: '/app/themes/<themename>/dist/js/components/partials/card-events--big.js',
					key: 'card-events-js',
				},
				require: [  // to write this object follow logic loading
					{
						name: 'countdown-js',
						url: '/app/themes/<themename>/dist/js/libs/jquery.countdown.min.js'
					}
				]
			}
		},{
			mainJs: {
				exists: document.getElementsByClassName('main-amatoripadel-js').length,
				params: {
					url: '/app/themes/<themename>/dist/js/main-amatoripadel.js',
					key: 'main-amatoripadel-js',
				}
			}
		},{
			cardsSlider: {
				exists: document.getElementsByClassName('cards-slider-js').length,
				params: {
					url: '/app/themes/<themename>/dist/js/components/sections/cards-slider.js',
					key: 'cards-slider-js',
				}
			}
		},
		// 	sectionmirrordatasheet: {
		// 		exists: document.getElementsByClassName('scrollmagic-js').length,
		// 		params: {
		// 			url: '/app/themes/<themename>/dist/js/components/sections/section-mirror-datasheet.js',
		// 			key: 'section-mirror-datasheet-js',
		// 		},
		// 		require: [  // to write this object follow logic loading
		// 			{
		// 				name: 'tweenmax',
		// 				url: '/app/themes/<themename>/dist/js/libs/tweenmax.min.js'
		// 			},
		// 			{
		// 				name: 'scrollmagic',  // this depends by Tweenmax
		// 				url:'/app/themes/<themename>/dist/js/libs/scrollmagic.min.js',
		// 			},
		// 			{
		// 				name: 'animationgsap', // this depends by Scrollmagic
		// 				url: '/app/themes/<themename>/dist/js/libs/animation.gsap.js'
		// 			}
		// 		]
		// 	}
	];
</script>
