<!--footer.twig section -->

<footer class="footer flex flex--center">
	<div class="logo">
		<picture class="logo__picture">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="@@url/images/logo-amatoripadel@2x.png 2x"/>
				<!--[if IE 9]></video><![endif]-->
				<img data-srcset="@@url/images/logo-amatoripadel.png" alt="logo Amatori Padel"/>
		</picture>
	</div>
	<div class="footer__info flex flex--column">
		<a class="mail-link" href="mailto:info@gmail.com">info@gmail.com</a>
		<a class="phone-link" href="tel:+393381734567">338 1734567</a>
	</div>
</footer>
