<!-- login.twig section -->

<div class="login-form">


<link rel="stylesheet" href="@@url/css/components/sections/login-form@css_extension.css" />


	<div class="container">
		<form name="loginform" id="loginform" method="" action="">
			@@csrf_field
			        <link rel="stylesheet" href="@@url/css/components/partials/forms@css_extension.css" />
      <div class="input-field">
        <label for="email"></label>
        <input id="email" type="text" name="email" value="" autocomplete="off" placeholder="e-mail..." data-validation="" required="required" />
    </div>

			      <div class="input-field">
        <label for="password"></label>
        <input id="password" type="password" name="password" value="" autocomplete="off" placeholder="password..." data-validation="" required="required" />
    </div>

			<div class="cta-container cta-container--center">
				<button type="submit" class="loginform cta cta--enter cta--yellow">entra</button>
			</div>

		</form>
	</div>
</div>
