{% extends "base.twig" %}

{% block head %}
<title>{{ site.name}} - </title>
{{ parent() }}
{% endblock %}

{% block bodyclass %}
	archive-giocatori bg-image bg-frontpage
{% endblock %}

{% block content %}

<!--archive-giocatori.twig page -->


<div class="archive archive-giocatori">
	{% include 'components/partials/search-form.twig' %}
	{% for queryItem in players %}
		{% include 'components/partials/list-item-giocatore.twig' %}
	{% endfor %}

	{% for queryItem in news %}
		{% include 'components/partials/list-item-news.twig' %}
	{% endfor %}
</div>
{% endblock %}
