{% extends "base.twig" %}

{% block head %}
<title>{{ site.name}} - </title>
{{ parent() }}
{% endblock %}

{% block bodyclass %}
	page-zona bg-image bg-frontpage
{% endblock %}

{% block content %}

<!--page-zona.twig page -->

{% set queryItem = next[0].zones[1] %}

<div class="page page-zona">
	<div class="container">
		<section>
				<div class="cta-container">
					<button onclick="javascript:window.history.back()" class="cta cta--enter cta--yellow cta--rounded cta--back">Torna al torneo</a>
				</div>
			<div class="section-title"><h1>{{ queryItem.name }}</h1></div>

			<div class="card-wrapper flex flex--center flex--column">
				<div class="card flex flex--column flex--center">
					<div class="section-title"><span>Tornei maschili</span></div>
					<ul>
							<li>
								<a href="{{ queryItem.categories.male.1stcategory.link }}" class="yellow-text-link yellow-text-link--enter">1a categoria</a>
							</li>
							<li>
								<a href="./page-categoria" class="yellow-text-link yellow-text-link--enter">2a categoria</a>
							</li>
							<li>
								<a href="./page-categoria" class="yellow-text-link yellow-text-link--enter">3a categoria</a>
							</li>
					</ul>
				</div>
				<div class="card flex flex--column flex--center">
					<div class="section-title"><span>Tornei femminili</span></div>
					<ul>
							<li>
								<a href="./page-categoria" class="yellow-text-link yellow-text-link--enter">1a categoria</a>
							</li>
							<li>
								<a href="./page-categoria" class="yellow-text-link yellow-text-link--enter">2a categoria</a>
							</li>
							<li>
								<a href="./page-categoria" class="yellow-text-link yellow-text-link--enter">3a categoria</a>
							</li>
					</ul>
				</div>
			</div>


		</section>
	</div>
</div>
{% endblock %}
