{% extends "base.twig" %}
{% import 'components/partials/tabs.twig' as tabs %}

{% block head %}
<title>{{ site.name}} - </title>
{{ parent() }}
<link rel="stylesheet" href="@@url/css/components/partials/forms@css_extension.css" />
<link rel="stylesheet" href="@@url/css/components/partials/jquery.fancybox.css" />
{% endblock %}

{% block bodyclass %}
	page-torneo bg-image bg-frontpage
{% endblock %}

{% block content %}

<!--page-iscrizione-torneo.twig page -->
{% set queryItem = next[0] %}

<div class="page page-iscrizione-torneo fancybox-js">
	<div class="container">
		<section>
			<div class="section-title"><h1>{{ queryItem.title }}</h1></div>
			<div class="header-rounded-image">
					<picture>
						<img class="lazyload" data-srcset="{{ queryItem.srcImgFeaturedBig }}, {{ queryItem.srcImgFeaturedBigx2 }} 2x" alt="{{ queryItem.title }}"/>
					</picture>
					<noscript>
							<picture>
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="{{ queryItem.srcImgFeaturedBig }}" media="(max-width: 736px)"/>
									<!--[if IE 9]></video><![endif]-->
									<img src="{{ queryItem.srcImgFeaturedBig }}" alt="{{ queryItem.title }}"/>
							</picture>
					</noscript>
			</div>

			<div class="flex flex--center flex--column">
				<a href="{{ queryItem.link }}/{{ queryItem.pages.generalita.link }}" class="yellow-text-link yellow-text-link--enter">{{ queryItem.pages.generalita.title }}</a>
				<a href="{{ queryItem.link }}/{{ queryItem.pages.regolamento.link }}" class="yellow-text-link yellow-text-link--enter">{{ queryItem.pages.regolamento.title }}</a>
				<a href="{{ queryItem.link }}/{{ queryItem.pages.fotogallery.link }}" class="yellow-text-link yellow-text-link--enter">{{ queryItem.pages.fotogallery.title }}</a>
			</div>


		</section>

		<div class="separator"></div>

		<section>
			<div class="input-field input-field--select input-field--center">
				<select id="select-zone" name="select-zone" class="dropdown dropdown--light">
						<option selected disabled >Seleziona zona...</option>
						{% for option in queryItem.zones %}
								<option value="{{ option.link }}">{{ option.name }}</option>
						{% endfor %}
				</select>
			</div>
			<div class="cta-container cta-container--center">
				<a href="./page-zona" class="cta cta--enter cta--yellow  cta--rounded">Visualizza tutti i tornei della zona</a>
			</div>

			<div>
				<div class="tabs-scroller">
			    <nav class="tabs__nav" role="navigation">
			     <a href="#" class="selected">Maschili</a>
			     <a href="#">Femminili</a>
			    </nav>
				</div>
			</div>

			<div>
				<div class="tabs-scroller">
			    <nav class="tabs__nav" role="navigation">
			     <a href="#" class="selected">Zona 1</a>
			     <a href="#">Zona 2</a>
					 <a href="#">Zona 3</a>
					 <a href="#">Zona 4</a>
					 <a href="#">Zona 5</a>
					 <a href="#">Zona 6</a>
			    </nav>
				</div>
			</div>

			<div>
				<div class="tabs-scroller">
			    <nav class="tabs__nav" role="navigation">
			     <a href="#" class="selected">Categoria A</a>
			     <a href="#">Categoria B</a>
					 <a href="#">Categoria C</a>
					 <a href="#">Categoria D</a>
			    </nav>
				</div>
			</div>

				<div>
					<div class="tabs-scroller">
				    <nav class="tabs__nav" role="navigation">
				     <a href="#" class="selected">Girone A</a>
				     <a href="#">Girone B</a>
						 <a href="#">Girone C</a>
						 <a href="#">Girone D</a>
						 <a href="#">Girone E</a>
						 <a href="#">Girone F</a>
				    </nav>
					</div>
				</div>
{#
			<div class="tabs tabs--teams">

				 {{ tabs.tabs([{label:'maschili', id: 'maschili', group: 'groupName', checked: 'checked'},{label:'femminili', id: 'femminili', group: 'groupName'}]) }}
				 <div class="tabs__body">
	       <div class="tabs__body__panel tabs__body__panel--maschili">
					 	{% for queryItem in maleteams %}
								{% include 'components/partials/card-team-torneo.twig' %}
						{% endfor %}
				 </div>
	       <div class="tabs__body__panel tabs__body__panel--femminili">
					 	{% for queryItem in femaleteams %}
								{% include 'components/partials/card-team-torneo.twig' %}
						{% endfor %}
				 </div>
		     </div>
			</div>
#}
{% set queryItem = next[0].zones[1] %}
<div class="card card-scroller card-scroller--vertical">
	<div class="card-scroller--vertical__header">
		<div class="spacer"></div>
		<div>
			<span>pt.</span>
			<span>gi.</span>
			<span>sv/sp</span>
			<span>gv/gp</span>
		</div>
	</div>
	<ul class="card-scroller--vertical__body flex flex--column">
		{% for queryItem in queryItem.categories.male.1stcategory.rounds[0].teams %}
			<li>
					{% include 'components/partials/card-team-classifica.twig' %}
			</li>
		{% endfor %}
	</ul>

</div>
			<div class="cta-container cta-container--center">
				<a href="{{ queryItem.registration }}" class="cta cta--enter cta--yellow">Iscriviti nella zona</a>
			</div>


			<div class="cta-container cta-container--center">
				<a id="fotogallery" class="cta cta--gallery cta--yellow" href="javascript:;" >Fotogallery</a>
			</div>

		</section>
	</div>
</div>

<script>

	window.galleryArray = [
		{src:"https://www.amatoripadel.it/storage/app/images/ybLPlgmNB8zqs8V62eSvF0JIacXed47sFIF7IHAU.jpeg"},
		{src:"https://www.amatoripadel.it/storage/app/images/aShuJAayKpgMYU9o6qGtSEa2sk2PHqPQ06D3UXHc.jpeg"},
		{src:"https://www.amatoripadel.it/storage/app/images/QdoAAK58GBNiNVvviLGay43a1SdATmGXhjJ6gPK1.jpeg"},
		{src:"https://www.amatoripadel.it/storage/app/images/GpHuipTuwemUTCTGnqOyakZFqVqDAOhT87t79sMx.png"},
		{src:"https://www.amatoripadel.it/storage/app/images/bfgRcaI7g8cRaTNKAsGVLbmWXatAP5ypxvwErVzP.webp"},
		{src:"https://www.amatoripadel.it/storage/app/images/uI7slpqwd5EGwEhUVa2t1jvIBsg7F3xopp83H9nj.webp"}
	]
</script>
{% endblock %}
