{% extends "base.twig" %}

{% block head %}
<title>{{ site.name}} - </title>
{{ parent() }}
<link rel="stylesheet" href="@@url/css/single-profilo@css_extension.css" />
{% endblock %}

{% block bodyclass %}
	single-circolo bg-image bg-frontpage
{% endblock %}

{% block content %}

<!--single-circolo.twig page -->
{% set queryItem = next[0] %}

<div class="single single-circolo">

		<div class="container">
			<section>
				<div class="header-rounded-image">
						<picture>
							<img class="lazyload" data-srcset="{{ queryItem.srcImgFeaturedBig }}, {{ queryItem.srcImgFeaturedBigx2 }} 2x" alt="{{ queryItem.title }}"/>
						</picture>
						<noscript>
								<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source srcset="{{ queryItem.srcImgFeaturedBig }}" media="(max-width: 736px)"/>
										<!--[if IE 9]></video><![endif]-->
										<img src="{{ queryItem.srcImgFeaturedBig }}" alt="{{ queryItem.title }}"/>
								</picture>
						</noscript>
				</div>

				<div class="section-title"><h1>{{ queryItem.title }}</h1></div>
			</section>

			<section>
				<div class="card card__inner flex flex--column flex--center">
			    <span class="section-title section-title--no-separator">Contatti</span>
			    <div style="width: 100%">
			      <ul>
			        <li class="list-infos">
			          <label>Indirizzo</label><span>via di Pietralata, 12</span>
			        </li>
			        <li class="list-infos">
			          <label>Telefono</label><span>338 4117065</span>
			        </li>
			      </ul>
			    </div>
						{% include 'components/partials/google-map.twig' %}
				</div>
			</section>

			<section>
				<div class="card card__inner flex flex--column flex--center">
			    <!-- <span class="section-title section-title--no-separator">Fotogallery</span> -->

						<a href="javascript:;" data-match="2395,2456,1234" class="fotogallery yellow-text-link yellow-text-link--enter">Fotogallery</a>
				</div>
			</section>

			<section>
				<div class="card card__inner flex flex--column flex--center">
			    <span class="section-title section-title--no-separator">Descrizione</span>

						<div class="editorial">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
						</div>
				</div>
			</section>
</div>
{% endblock %}
