{% extends "base.twig" %}

{% block head %}
<title>{{ site.name}} - </title>
{{ parent() }}
{% endblock %}

{% block bodyclass %}
	single-categoria bg-image bg-frontpage
{% endblock %}

{% block content %}

<!--single-categoria.twig page -->
{% set queryItem = next[0].zones[1] %}

<div class="single single-categoria">
		<div class="container">
			<section>

					<div class="section-title section-title--small section-title--no-separator"><h2>{{ queryItem.name }}</h2></div>
					<div class="section-title section-title--big"><h1>{{ queryItem.categories.male.1stcategory.name }}</h1></div>

					<div class="cta-container flex flex--between">
						<a href="./page-torneo" class="cta cta--yellow cta--rounded cta--back">Torna al torneo</a>
						<a href="./page-tabellone" class="cta cta--enter cta--yellow cta--rounded">Tabellone</a>
					</div>

					<div class="flex flex--column flex--center">
						<a href="{{ queryItem.categories.male.1stcategory.rounds[0].link }}" class="section-title yellow-text-link yellow-text-link--enter"><span>{{ queryItem.categories.male.1stcategory.rounds[0].name|upper }}</span></a>
						<ul class="card-scroller flex">
							{% for queryItem in queryItem.categories.male.1stcategory.rounds[0].teams %}
								<li>
									<a href="{{ queryItem.link }}">
										{% include 'components/partials/card-team-categoria.twig' %}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					{% set cardteamcategoria = "exists" %}

					<div class="flex flex--column flex--center">
						<a href="{{ queryItem.categories.male.1stcategory.rounds[1].link }}" class="section-title yellow-text-link yellow-text-link--enter"><span>{{ queryItem.categories.male.1stcategory.rounds[1].name|upper }}</span></a>
						<ul class="card-scroller flex">
							{% for queryItem in queryItem.categories.male.1stcategory.rounds[1].teams %}
								<li>
									<a href="{{ queryItem.link }}">
										{% include 'components/partials/card-team-categoria.twig' %}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>



			</section>
		</div>
</div>
{% endblock %}
