<!-- card-team-stats.twig partial -->

<div class="card card-team-stats">


<link rel="stylesheet" href="css/components/partials/card-team-stats.css" />


	<div class="card__inner">
		<div class="player">
			<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
				<picture data-link="">
					<img class="lazyload" data-srcset=",  2x" alt=""/>
				</picture>
				<noscript>
						<picture>
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="" media="(max-width: 736px)"/>
								<!--[if IE 9]></video><![endif]-->
								<img src="" alt=""/>
						</picture>
				</noscript>
			</div>
			<div class="player__name">
				<span></span>
			</div>
		</div>
		<div class="player player--2">
			<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
				<picture data-link="">
					<img class="lazyload" data-srcset=",  2x" alt=""/>
				</picture>
				<noscript>
						<picture>
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="" media="(max-width: 736px)"/>
								<!--[if IE 9]></video><![endif]-->
								<img src="" alt=""/>
						</picture>
				</noscript>
			</div>
			<div class="player__name">
				<span></span>
			</div>
		</div>
	</div>
	<div class="card__footer card__footer--separated">
			<div>
				<span>pt.</span><span class="card__footer__value">6</span>
			</div>
			<div>
				<span>gi.</span><span class="card__footer__value">2</span>
			</div>
			<div>
				<span>sv/sp</span><span class="card__footer__value">4/3</span>
			</div>
			<div>
				<span>gv/gp</span><span class="card__footer__value">11/12</span>
			</div>
	</div>

</div>
