<!-- card-team-torneo.twig partial -->

<div class="card card-team-torneo">


<link rel="stylesheet" href="css/components/partials/card-team-torneo.css" />

<div class="card__inner">
	<div class="player">
		<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
			<picture data-link="">
				<img class="lazyload" data-srcset=",  2x" alt=""/>
			</picture>
			<noscript>
					<picture>
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="" media="(max-width: 736px)"/>
							<!--[if IE 9]></video><![endif]-->
							<img src="" alt=""/>
					</picture>
			</noscript>
		</div>
		<div class="player__name">
			<span></span>
		</div>
	</div>
	<div class="player">
		<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
			<picture data-link="">
				<img class="lazyload" data-srcset=",  2x" alt=""/>
			</picture>
			<noscript>
					<picture>
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="" media="(max-width: 736px)"/>
							<!--[if IE 9]></video><![endif]-->
							<img src="" alt=""/>
					</picture>
			</noscript>
		</div>
		<div class="player__name">
			<span></span>
		</div>
	</div>
</div>
<div class="card__footer--separated">
	<span>CATEGORIA </span>
	<span>GIRONE </span>
</div>

</div>
