<!-- card-news--big.twig partial -->

<article class="card card-info--big">

	
	<link rel="stylesheet" href="css/components/partials/card-info--big.css" />

	
<!-- code here -->

	<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
		<picture data-link="">
			<img class="lazyload" data-srcset=",  2x" alt=""/>
		</picture>
		<noscript>
        <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="" media="(max-width: 736px)"/>
            <!--[if IE 9]></video><![endif]-->
            <img src="" alt=""/>
        </picture>
    </noscript>
		<div class="card__content card__content--overlay">
			<p class="abstract"></p>
		</div>
	</div>


</article>
