<!-- card-events--big.twig partial -->

<article class="card card-events--big">


<link rel="stylesheet" href="css/components/partials/card-events--big.css" />


	<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
		<picture data-link="">
			<img class="lazyload" data-srcset=",  2x" alt=""/>
		</picture>
		<noscript>
				<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="" media="(max-width: 736px)"/>
						<!--[if IE 9]></video><![endif]-->
						<img src="" alt=""/>
				</picture>
		</noscript>
	</div>
	<div class="card__content">
		<div class="card__title">
			<h3></h3>
		</div>
		<p class="abstract"></p>

	</div>
	<!-- da stampare solo nelle card di eventi futuri -->
		<div class="card__footer">
			<div data-countdown="" class="countdown"></div>
		</div>
	<!-- -->

</article>
