<!-- card-media.twig partial -->

<div class="card card-media">


<link rel="stylesheet" href="css/components/partials/card-media.css" />


		<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
			<picture data-link="">
				<img class="lazyload" data-srcset=",  2x" alt=""/>
			</picture>
			<noscript>
					<picture>
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="" media="(max-width: 736px)"/>
							<!--[if IE 9]></video><![endif]-->
							<img src="" alt=""/>
					</picture>
			</noscript>
		</div>
		<div class="card__content">
			<div class="card__title">
				<h3></h3>
			</div>
			<time datetime="">07-August-2019</time>
			<p class="abstract"></p>
		</div>

</div>
