<!-- list-item-news.twig partial -->

<div class="list-item-news">


<link rel="stylesheet" href="css/components/partials/list-item-news.css" />


<a href="">
  <div class="card__inner">
    <div class="player">

      <div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
        <picture>
          <img class="lazyload" data-srcset=",  2x" alt=""/>
        </picture>
        <noscript>
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="" media="(max-width: 736px)"/>
                <!--[if IE 9]></video><![endif]-->
                <img src="" alt=""/>
            </picture>
        </noscript>
      </div>
      <div class="list-item__content">
        <time>11 aprile 2018</time>
        <div class="player__name">
          <span></span>
        </div>
        <div class="abstract">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab</p>
        </div>
      </div>
    </div>
  </div>
</a>

</div>
