<!-- list-item-giocatore.twig partial -->

<div class="list-item-giocatore">


<link rel="stylesheet" href="css/components/partials/list-item-giocatore.css" />

	<a href="">
		<div class="card__inner">
			<div class="player">

				<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
					<picture>
						<img class="lazyload" data-srcset=",  2x" alt=""/>
					</picture>
					<noscript>
							<picture>
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="" media="(max-width: 736px)"/>
									<!--[if IE 9]></video><![endif]-->
									<img src="" alt=""/>
							</picture>
					</noscript>
				</div>
				<div class="player__name">
					<span></span>
				</div>
			</div>
			<div class="player__data">
				<div><label>p.v.</label>&nbsp;<span>12</span></div>
				<div><label>p.p.</label>&nbsp;<span>2</span></div>
				<div><label>livello</label>&nbsp;<span>intermedio</span></div>
			</div>
		</div>
	</a>
</div>
