<!-- search-form.twig partial -->

<div class="search-form">
<link rel="stylesheet" href="css/components/partials/forms.css" />

<link rel="stylesheet" href="css/components/partials/search-form.css" />

<form action="#" method="#">
  <div class="search-form__field">
      <input id="search-field" type="text" name="search-field" value="" autocomplete="off" placeholder="cerca..." />
      <button type="submit" class="search-form__field__submit"></button> 
  </div>
</form>
</div>
