/* card-team-stats.twig styles */
/* line 5, ../../../../src/sass/components/partials/card-team-stats.scss */
.card-team-stats {
  background: none !important;
  border: none !important;
  margin: 0 auto 24px !important;
}
/* line 10, ../../../../src/sass/components/partials/card-team-stats.scss */
.card-team-stats .card__inner {
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/* line 19, ../../../../src/sass/components/partials/card-team-stats.scss */
.card-team-stats .player {
  margin-top: -16px;
  margin-bottom: 16px;
}
/* line 23, ../../../../src/sass/components/partials/card-team-stats.scss */
.card-team-stats .player .card__thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  overflow: hidden;
  margin: auto auto 12px;
}
/* line 32, ../../../../src/sass/components/partials/card-team-stats.scss */
.card-team-stats .player .player__name {
  color: #fff;
  font-family: "Avenir", serif;
  font-weight: bold;
  text-align: center;
}
/* line 46, ../../../../src/sass/components/partials/card-team-stats.scss */
.card-team-stats .card__footer span {
  display: block;
  text-align: center;
}
/* line 51, ../../../../src/sass/components/partials/card-team-stats.scss */
.card-team-stats .card__footer--separated {
  background-color: #6E96CB;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 8px;
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 60, ../../../../src/sass/components/partials/card-team-stats.scss */
.card-team-stats .card__footer--separated > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 64, ../../../../src/sass/components/partials/card-team-stats.scss */
.card-team-stats .card__footer--separated > div:last-child {
  border-right: none;
}
/* line 69, ../../../../src/sass/components/partials/card-team-stats.scss */
.card-team-stats .card__footer--separated span {
  color: #fff;
  font-family: "Avenir", serif;
  font-weight: bold;
}
/* line 76, ../../../../src/sass/components/partials/card-team-stats.scss */
.card-team-stats .card__footer__value {
  color: #FFE200 !important;
  font-size: 20px;
  font-weight: bold;
}

/*# sourceMappingURL=../../maps/card-team-stats.css.map */