/* card-events--big.twig styles */
/* line 29, /Users/Giordano/CLIENTI/MadeInApp/rogiostrap.amatoripadel/src/sass/_mixins.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #445C69;
}

/* line 33, /Users/Giordano/CLIENTI/MadeInApp/rogiostrap.amatoripadel/src/sass/_mixins.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #445C69;
  opacity: 1;
}

/* line 38, /Users/Giordano/CLIENTI/MadeInApp/rogiostrap.amatoripadel/src/sass/_mixins.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #445C69;
}

/* line 42, /Users/Giordano/CLIENTI/MadeInApp/rogiostrap.amatoripadel/src/sass/_mixins.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #445C69;
}

/* line 7, ../../../../src/sass/components/partials/card-events--big.scss */
.card-events--big {
  margin-top: 32px !important;
}
/* line 10, ../../../../src/sass/components/partials/card-events--big.scss */
.card-events--big .card__thumbnail {
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 50%;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 92px;
}
/* line 24, ../../../../src/sass/components/partials/card-events--big.scss */
.card-events--big .card__content {
  padding: 56px 16px 16px;
}
/* line 27, ../../../../src/sass/components/partials/card-events--big.scss */
.card-events--big .card__content h3 {
  color: #fff;
  margin-bottom: 12px;
  text-align: center;
}
/* line 35, ../../../../src/sass/components/partials/card-events--big.scss */
.card-events--big .card__content .asbtract p {
  display: block;
  display: -webkit-box;
  height: 56px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/* line 40, ../../../../src/sass/components/partials/card-events--big.scss */
.card-events--big .card__content p {
  color: #fff;
}
/* line 46, ../../../../src/sass/components/partials/card-events--big.scss */
.started-events .card-events--big .card__content time {
  display: none;
}
/* line 54, ../../../../src/sass/components/partials/card-events--big.scss */
.started-events .card-events--big .card__footer {
  display: none;
}

/*# sourceMappingURL=../../maps/card-events--big.css.map */