/* card-news--big.twig styles */
/* line 7, ../../../../src/sass/components/partials/card-info--big.scss */
.card-info--big picture {
  padding-bottom: 50%;
}
/* line 11, ../../../../src/sass/components/partials/card-info--big.scss */
.card-info--big .card__content--overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 21, ../../../../src/sass/components/partials/card-info--big.scss */
.card-info--big .card__content--overlay p {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  padding: 20px;
  text-align: center;
}

/*# sourceMappingURL=../../maps/card-info--big.css.map */