/* card-news--big.twig styles */
/* line 29, /Users/Giordano/CLIENTI/MadeInApp/rogiostrap.amatoripadel/src/sass/_mixins.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #445C69;
}

/* line 33, /Users/Giordano/CLIENTI/MadeInApp/rogiostrap.amatoripadel/src/sass/_mixins.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #445C69;
  opacity: 1;
}

/* line 38, /Users/Giordano/CLIENTI/MadeInApp/rogiostrap.amatoripadel/src/sass/_mixins.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #445C69;
}

/* line 42, /Users/Giordano/CLIENTI/MadeInApp/rogiostrap.amatoripadel/src/sass/_mixins.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #445C69;
}

/* line 6, ../../../../src/sass/components/partials/card-news--big.scss */
.card-news--big {
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 9, ../../../../src/sass/components/partials/card-news--big.scss */
.card-news--big picture {
  padding-bottom: 50%;
}
/* line 13, ../../../../src/sass/components/partials/card-news--big.scss */
.card-news--big .card__content {
  padding: 16px;
}
/* line 16, ../../../../src/sass/components/partials/card-news--big.scss */
.card-news--big .card__content h3 {
  color: #fff;
  margin-bottom: 12px;
}
/* line 23, ../../../../src/sass/components/partials/card-news--big.scss */
.card-news--big .card__content .abstract p {
  display: block;
  display: -webkit-box;
  height: 56px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/* line 28, ../../../../src/sass/components/partials/card-news--big.scss */
.card-news--big .card__content p {
  color: #fff;
}

/*# sourceMappingURL=../../maps/card-news--big.css.map */