/* card-team-torneo.twig styles */
/* line 5, ../../../../src/sass/components/partials/card-team-torneo.scss */
.card-team-torneo {
  background: none !important;
  border: none !important;
  margin: 0 auto 24px !important;
}
/* line 10, ../../../../src/sass/components/partials/card-team-torneo.scss */
.card-team-torneo .card__inner {
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/* line 19, ../../../../src/sass/components/partials/card-team-torneo.scss */
.card-team-torneo .player {
  margin-top: -16px;
  margin-bottom: 16px;
}
/* line 23, ../../../../src/sass/components/partials/card-team-torneo.scss */
.card-team-torneo .player .card__thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  overflow: hidden;
  margin-bottom: 12px;
}
/* line 32, ../../../../src/sass/components/partials/card-team-torneo.scss */
.card-team-torneo .player .player__name {
  color: #fff;
  font-family: "Avenir", serif;
  font-weight: bold;
  text-align: center;
}
/* line 40, ../../../../src/sass/components/partials/card-team-torneo.scss */
.card-team-torneo .card__footer--separated {
  background-color: #6E96CB;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 8px;
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/* line 49, ../../../../src/sass/components/partials/card-team-torneo.scss */
.card-team-torneo .card__footer--separated span {
  color: #fff;
  font-family: "Avenir", serif;
  font-weight: bold;
}

/*# sourceMappingURL=../../maps/card-team-torneo.css.map */