/* list-item-giocatore.twig styles */
/* line 29, /Users/Giordano/CLIENTI/MadeInApp/rogiostrap.amatoripadel/src/sass/_mixins.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #445C69;
}

/* line 33, /Users/Giordano/CLIENTI/MadeInApp/rogiostrap.amatoripadel/src/sass/_mixins.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #445C69;
  opacity: 1;
}

/* line 38, /Users/Giordano/CLIENTI/MadeInApp/rogiostrap.amatoripadel/src/sass/_mixins.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #445C69;
}

/* line 42, /Users/Giordano/CLIENTI/MadeInApp/rogiostrap.amatoripadel/src/sass/_mixins.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #445C69;
}

/* line 52, /Users/Giordano/CLIENTI/MadeInApp/rogiostrap.amatoripadel/src/sass/_mixins.scss */
.list-item-giocatore .card__inner .player {
  background-image: url("../../../images/icons.svg");
  background-repeat: no-repeat;
  background-size: 24px 2700px;
}

/* line 6, ../../../../src/sass/components/partials/list-item-giocatore.scss */
.list-item-giocatore {
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 12, ../../../../src/sass/components/partials/list-item-giocatore.scss */
.list-item-giocatore .card__inner .player {
  background-position: right 0 top -317px;
  background-size: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 19, ../../../../src/sass/components/partials/list-item-giocatore.scss */
.list-item-giocatore .card__inner .player__ranking {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-right: 12px;
  min-width: 63px;
}
/* line 27, ../../../../src/sass/components/partials/list-item-giocatore.scss */
.list-item-giocatore .card__inner .player__name {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
/* line 35, ../../../../src/sass/components/partials/list-item-giocatore.scss */
.list-item-giocatore .card__thumbnail {
  border: 2px solid #fff;
  width: 65px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}
/* line 43, ../../../../src/sass/components/partials/list-item-giocatore.scss */
.list-item-giocatore .player__data {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #6E96CB;
  margin-top: 6px;
  padding: 4px;
}
/* line 51, ../../../../src/sass/components/partials/list-item-giocatore.scss */
.list-item-giocatore .player__data span {
  color: #FFE200;
}

/*# sourceMappingURL=../../maps/list-item-giocatore.css.map */