/* list-item-news.twig styles */
/* line 5, ../../../../src/sass/components/partials/list-item-news.scss */
.list-item-news {
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 11, ../../../../src/sass/components/partials/list-item-news.scss */
.list-item-news .card__inner .list-item__content {
  width: calc(100% - 124px);
}
/* line 14, ../../../../src/sass/components/partials/list-item-news.scss */
.list-item-news .card__inner .list-item__content time {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 6px;
  text-align: left;
}
/* line 22, ../../../../src/sass/components/partials/list-item-news.scss */
.list-item-news .card__inner .player {
  background-image: url("../../../images/caret-enter.svg");
  background-position: right 16px top calc(50% - 8px);
  background-size: 11px;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 30, ../../../../src/sass/components/partials/list-item-news.scss */
.list-item-news .card__inner .player__name {
  color: #fff;
  font-weight: bold;
  font-size: 18px !important;
}
/* line 38, ../../../../src/sass/components/partials/list-item-news.scss */
.list-item-news .card__inner .player .abstract p {
  font-size: 16px;
  line-height: 20px;
  margin-top: 6px;
}
/* line 47, ../../../../src/sass/components/partials/list-item-news.scss */
.list-item-news .card__thumbnail {
  border: 2px solid #fff;
  min-width: 65px;
  border-radius: 50%;
  height: 65px;
  overflow: hidden;
  margin-right: 12px;
}
/* line 56, ../../../../src/sass/components/partials/list-item-news.scss */
.list-item-news .player__data {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #6E96CB;
  margin-top: 6px;
  padding: 4px;
}
/* line 64, ../../../../src/sass/components/partials/list-item-news.scss */
.list-item-news .player__data span {
  color: #FFE200;
}

/*# sourceMappingURL=../../maps/list-item-news.css.map */