/* card-team-classifica.twig styles */
/* line 5, ../../../../../src/sass/components/partials/card-team-classifica.scss */
.card-team-classifica { display: flex; align-items: center; padding: 12px 0; border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
/* line 11, ../../../../../src/sass/components/partials/card-team-classifica.scss */
.card-team-classifica .card__inner { display: flex; align-items: center; min-width: 220px; padding: 0 8px; }
/* line 17, ../../../../../src/sass/components/partials/card-team-classifica.scss */
.card-team-classifica .card__inner .player { width: 50%; }
/* line 20, ../../../../../src/sass/components/partials/card-team-classifica.scss */
.card-team-classifica .card__inner .player__name { color: #fff; text-align: center; max-width: 110px; }
/* line 26, ../../../../../src/sass/components/partials/card-team-classifica.scss */
.card-team-classifica .card__inner .player__ranking { color: #fff; font-size: 30px; font-weight: bold; }
/* line 34, ../../../../../src/sass/components/partials/card-team-classifica.scss */
.card-team-classifica .card__thumbnail { width: 65px; border-radius: 50%; overflow: hidden; margin: 0 auto 8px; }
/* line 41, ../../../../../src/sass/components/partials/card-team-classifica.scss */
.card-team-classifica .card__footer { padding: 0 8px !important; display: flex; justify-content: space-between !important; }
/* line 46, ../../../../../src/sass/components/partials/card-team-classifica.scss */
.card-team-classifica .card__footer .card__footer__value { color: #FFE200; font-weight: bold; }
/* line 54, ../../../../../src/sass/components/partials/card-team-classifica.scss */
.card-team-classifica--player .card__inner { max-width: 180px; min-width: 0; }
/* line 58, ../../../../../src/sass/components/partials/card-team-classifica.scss */
.card-team-classifica--player .card__inner .player { width: auto; }
/* line 62, ../../../../../src/sass/components/partials/card-team-classifica.scss */
.card-team-classifica--player .card__inner .player__ranking { width: auto; min-width: 70px; }
